$background: #E4FFF7;

@function textShadow($precision, $size, $color){
  $value: null;
  $offset: 0;
  $length: $size * (1 / $precision) - 1;

  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }

  @return $value;
}

.playful span {
  position: relative;
  color: #5362F6;
  text-shadow: textShadow(0.25, 6, #E485F8);
}

.playful span:nth-child(2n) {
  color: #ED625C;
  text-shadow: textShadow(0.25, 6, #F2A063);
}

.playful span:nth-child(3n) {
  color: #FFD913;
  text-shadow: textShadow(0.25, 6, #6EC0A9);
}

.playful span:nth-child(5n) {
  color: #555BFF;
  text-shadow: textShadow(0.25, 6, #E485F8);
}

.playful span:nth-child(7n), .playful span:nth-child(11n) {
  color: #FF9C55;
  text-shadow: textShadow(0.25, 6, #FF5555);
}

body {
  background-color: $background;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  max-width: 90vw;
  min-height: 90px;
  height: auto;
  text-align: center;
  margin: 5rem auto 2rem auto;
}

.gcompris .learn-more {
  color: black;
  text-shadow: 1px 1px 4px white;
}
.gcompris .learn-more:hover {
  color: #555;
}
