<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/amor-4.11.80.tar.xz">amor-4.11.80</a></td>
   <td align="right">169kB</td>
   <td><tt>8349b128f7ca4df3b15ecdb26effd676822008bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/analitza-4.11.80.tar.xz">analitza-4.11.80</a></td>
   <td align="right">175kB</td>
   <td><tt>6cd958bc24b748567857ad91cfb9b389772f0cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ark-4.11.80.tar.xz">ark-4.11.80</a></td>
   <td align="right">224kB</td>
   <td><tt>bc0cf3e9348e5d2a73a2aed6b9774310f551321f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/audiocd-kio-4.11.80.tar.xz">audiocd-kio-4.11.80</a></td>
   <td align="right">49kB</td>
   <td><tt>6d80b751fb961de11d070c677424b5729018fb94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/blinken-4.11.80.tar.xz">blinken-4.11.80</a></td>
   <td align="right">546kB</td>
   <td><tt>b6256f3ef8dfa64916f5f7d35308159800e3e472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/bomber-4.11.80.tar.xz">bomber-4.11.80</a></td>
   <td align="right">376kB</td>
   <td><tt>b38059808042a336d80105bc4b08e085a7610ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/bovo-4.11.80.tar.xz">bovo-4.11.80</a></td>
   <td align="right">98kB</td>
   <td><tt>0350d32545a1c9dbaf5cc54bbb59c50aa03a5898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/cantor-4.11.80.tar.xz">cantor-4.11.80</a></td>
   <td align="right">321kB</td>
   <td><tt>e32275302686907e045d2f96508836c2cff6ca36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/cervisia-4.11.80.tar.xz">cervisia-4.11.80</a></td>
   <td align="right">359kB</td>
   <td><tt>bf2478ea2f63da54fbd761b23992cb7b73686967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/dolphin-plugins-4.11.80.tar.xz">dolphin-plugins-4.11.80</a></td>
   <td align="right">54kB</td>
   <td><tt>ef23e4270e2a0d2a184277d1d78ae6ee8c3d2ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/dragon-4.11.80.tar.xz">dragon-4.11.80</a></td>
   <td align="right">381kB</td>
   <td><tt>487d868d23c4a2659b9f63c80652e6d4a64d0a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ffmpegthumbs-4.11.80.tar.xz">ffmpegthumbs-4.11.80</a></td>
   <td align="right">19kB</td>
   <td><tt>e1b86a60774fd3293370be8601de0dd8aa88bc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/filelight-4.11.80.tar.xz">filelight-4.11.80</a></td>
   <td align="right">280kB</td>
   <td><tt>17b415e06c456b471bcc3e9951743874baba8505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/granatier-4.11.80.tar.xz">granatier-4.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5f53a096e0101b5840d35580ea07ccbba007ebb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/gwenview-4.11.80.tar.xz">gwenview-4.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5d1746ba83692b68757c7d3fef0fbbe5d2730bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/jovie-4.11.80.tar.xz">jovie-4.11.80</a></td>
   <td align="right">370kB</td>
   <td><tt>c0fc925b9957cb024a7619b5336f705ed4dadd93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/juk-4.11.80.tar.xz">juk-4.11.80</a></td>
   <td align="right">418kB</td>
   <td><tt>9051d7962730838159d4cf6844fc6a7d3d1af6be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kaccessible-4.11.80.tar.xz">kaccessible-4.11.80</a></td>
   <td align="right">19kB</td>
   <td><tt>fba43395b79fed8cdea6f0edd99252d9084fb586</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kactivities-4.11.80.tar.xz">kactivities-4.11.80</a></td>
   <td align="right">84kB</td>
   <td><tt>5768afec83fcab5233beadeccec0bcb7b0c738d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kajongg-4.11.80.tar.xz">kajongg-4.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4a2f4116062d649d0aff08509cc64277751f4466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kalgebra-4.11.80.tar.xz">kalgebra-4.11.80</a></td>
   <td align="right">264kB</td>
   <td><tt>e9f2780174987c7e90f40f353f4795c526087f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kalzium-4.11.80.tar.xz">kalzium-4.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>99a6e924abc584a757ec8168c8338533318f541b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kamera-4.11.80.tar.xz">kamera-4.11.80</a></td>
   <td align="right">34kB</td>
   <td><tt>8c5ff105cbf406ba7a26b3905b2e1c69829c395b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kanagram-4.11.80.tar.xz">kanagram-4.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8faf235d1749fe4e910938e2f00457a54ffe1cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kapman-4.11.80.tar.xz">kapman-4.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>49b2c89222db632635c0ac9e92994d30e823c5b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kapptemplate-4.11.80.tar.xz">kapptemplate-4.11.80</a></td>
   <td align="right">680kB</td>
   <td><tt>d3a8b23cb1f7bff6004417b9fbbead262eaf1ae2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kate-4.11.80.tar.xz">kate-4.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>daafa73931c50b5601ae0b58498b296a46e5608a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/katomic-4.11.80.tar.xz">katomic-4.11.80</a></td>
   <td align="right">641kB</td>
   <td><tt>100b1027560fc142f60c5817e5d6b54105d08b1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kblackbox-4.11.80.tar.xz">kblackbox-4.11.80</a></td>
   <td align="right">251kB</td>
   <td><tt>f4faa48f6dd4134f783c463a53ba7cd3fa420232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kblocks-4.11.80.tar.xz">kblocks-4.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ff706a69d59e858d32efb445d5f061b797b706da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kbounce-4.11.80.tar.xz">kbounce-4.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c4d59ae068177c11a1165952b89fd3fdcce28f80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kbreakout-4.11.80.tar.xz">kbreakout-4.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d1b2b34c9b26a7d6796f98f20f9b9a370634e552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kbruch-4.11.80.tar.xz">kbruch-4.11.80</a></td>
   <td align="right">876kB</td>
   <td><tt>d5d9a712f90ca48080293e5e97efdfcf3d5dfbde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kcachegrind-4.11.80.tar.xz">kcachegrind-4.11.80</a></td>
   <td align="right">229kB</td>
   <td><tt>65dccd5c2c9a6d58c04f820ae3a7e14981ccdc4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kcalc-4.11.80.tar.xz">kcalc-4.11.80</a></td>
   <td align="right">78kB</td>
   <td><tt>9c2f9f1f347f33bcdbb08d73037c405ed4578ed6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kcharselect-4.11.80.tar.xz">kcharselect-4.11.80</a></td>
   <td align="right">82kB</td>
   <td><tt>1fbe2d008b82f75984f2b1b8c9f0a1459a8d0aee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kcolorchooser-4.11.80.tar.xz">kcolorchooser-4.11.80</a></td>
   <td align="right">4kB</td>
   <td><tt>6c668c0e82d31e89d6c48889f61cc546d21bd2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kcron-4.11.80.tar.xz">kcron-4.11.80</a></td>
   <td align="right">170kB</td>
   <td><tt>ca1ebaf3066f818027f4ca6c94dd081715dc269f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdeartwork-4.11.80.tar.xz">kdeartwork-4.11.80</a></td>
   <td align="right">134MB</td>
   <td><tt>8e49877ea48a1e7cfdf9c75c793d5e8c9fcb90e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-baseapps-4.11.80.tar.xz">kde-baseapps-4.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>33378f6522129c7f116bd9ebcb4a0f8fbb1fd67b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-base-artwork-4.11.80.tar.xz">kde-base-artwork-4.11.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>852e834891137fa3d204187b1626740441d069ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-dev-scripts-4.11.80.tar.xz">kde-dev-scripts-4.11.80</a></td>
   <td align="right">251kB</td>
   <td><tt>93daee92b0cb3861a622b9b2e690ac7e833c4e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-dev-utils-4.11.80.tar.xz">kde-dev-utils-4.11.80</a></td>
   <td align="right">50kB</td>
   <td><tt>9f05513698d2f5b2c0856d015cc3556664b42b18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdegraphics-mobipocket-4.11.80.tar.xz">kdegraphics-mobipocket-4.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>4cf7d593fa685cdfd886aeb9ea76608c5f04b2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdegraphics-strigi-analyzer-4.11.80.tar.xz">kdegraphics-strigi-analyzer-4.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>1ef4ebafc2b1a203d475de2b5694db65cc064af1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdegraphics-thumbnailers-4.11.80.tar.xz">kdegraphics-thumbnailers-4.11.80</a></td>
   <td align="right">40kB</td>
   <td><tt>2c7252f6713c28b001b0f5787b82aa73e0a36646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdelibs-4.11.80.tar.xz">kdelibs-4.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>24fafc0e3057a2d34a1a7515449bcb08a60d1726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdenetwork-filesharing-4.11.80.tar.xz">kdenetwork-filesharing-4.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>5ed5b64bceb311df0b8e353856edaa10f500de77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdenetwork-strigi-analyzers-4.11.80.tar.xz">kdenetwork-strigi-analyzers-4.11.80</a></td>
   <td align="right">14kB</td>
   <td><tt>8bc8bdfd1190a3508d7d73b496945190a50fc498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdepim-4.11.80.tar.xz">kdepim-4.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>e6cb4a69f7c784b8f3a71fbcb6773edf7867edc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdepimlibs-4.11.80.tar.xz">kdepimlibs-4.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>dcce988953e1f75a7ed66cf5b5c4d594c50cec95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdepim-runtime-4.11.80.tar.xz">kdepim-runtime-4.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2f320408adc1b1ece5f4b7df2030815511a5db13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdeplasma-addons-4.11.80.tar.xz">kdeplasma-addons-4.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c1a5fd2b6c72e9ff7449acd4f0cbe53fab9b9954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-runtime-4.11.80.tar.xz">kde-runtime-4.11.80</a></td>
   <td align="right">7.4MB</td>
   <td><tt>d8bffbf22c07759cf730108996b8cf650fa0fd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdesdk-kioslaves-4.11.80.tar.xz">kdesdk-kioslaves-4.11.80</a></td>
   <td align="right">352kB</td>
   <td><tt>46d449994b024b1c318f0a53c444fcfbeed53bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdesdk-strigi-analyzers-4.11.80.tar.xz">kdesdk-strigi-analyzers-4.11.80</a></td>
   <td align="right">17kB</td>
   <td><tt>b081ad183c6ea64173e1adc2f3d6f775d261ae10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdesdk-thumbnailers-4.11.80.tar.xz">kdesdk-thumbnailers-4.11.80</a></td>
   <td align="right">11kB</td>
   <td><tt>3e8b2c487b02b53611c778cf010d5d7cb479c157</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-wallpapers-4.11.80.tar.xz">kde-wallpapers-4.11.80</a></td>
   <td align="right">86MB</td>
   <td><tt>36801217af7326f54e22427e0ccae16c0a6361dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdewebdev-4.11.80.tar.xz">kdewebdev-4.11.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>7d84822e6d92659cae04d69cc272508f128e8406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdf-4.11.80.tar.xz">kdf-4.11.80</a></td>
   <td align="right">145kB</td>
   <td><tt>700e57869d808659c14c4178a4518c4ea889e253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdiamond-4.11.80.tar.xz">kdiamond-4.11.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>5a0b62764b9e29267008f41fc9116c179cd0ca8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kdnssd-4.11.80.tar.xz">kdnssd-4.11.80</a></td>
   <td align="right">25kB</td>
   <td><tt>53ac42c847fb5d261194794a573a1b096c6ac7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kfloppy-4.11.80.tar.xz">kfloppy-4.11.80</a></td>
   <td align="right">51kB</td>
   <td><tt>418c5329a5e92ad6772b2f55c328db3fd4f0091c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kfourinline-4.11.80.tar.xz">kfourinline-4.11.80</a></td>
   <td align="right">275kB</td>
   <td><tt>ab2da6c469f179f850d5bf40ccc71bf714e01654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kgamma-4.11.80.tar.xz">kgamma-4.11.80</a></td>
   <td align="right">22kB</td>
   <td><tt>e9fa4a6bc60b51490a3e5654b15ffe8c7eefcc7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kgeography-4.11.80.tar.xz">kgeography-4.11.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>b16392b8d69f892c5f1457c0e8257c1c685517b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kget-4.11.80.tar.xz">kget-4.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>eb20360ee7a4e76d9f507a96acf6157c6f4e2e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kgoldrunner-4.11.80.tar.xz">kgoldrunner-4.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>703f612a2ae3d169ced3d4bab70ebf39d1f7aecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kgpg-4.11.80.tar.xz">kgpg-4.11.80</a></td>
   <td align="right">784kB</td>
   <td><tt>431f9d242ce66f162b037c12155a8e9afaddd563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/khangman-4.11.80.tar.xz">khangman-4.11.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>f85ffba7aa28c3aa40f52ddfdd8c8023705c5213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kig-4.11.80.tar.xz">kig-4.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>46566793819bf70c94cdc228fa3c7d025c44f4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kigo-4.11.80.tar.xz">kigo-4.11.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>19227234e4560962e58b35dfeaac5871e9a07673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/killbots-4.11.80.tar.xz">killbots-4.11.80</a></td>
   <td align="right">938kB</td>
   <td><tt>9a9b688db5f8bbe96396a8a0d5945821488a7884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kimono-4.11.80.tar.xz">kimono-4.11.80</a></td>
   <td align="right">910kB</td>
   <td><tt>41906a8246370fd2d252a72c5d7bad871c54ee99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kiriki-4.11.80.tar.xz">kiriki-4.11.80</a></td>
   <td align="right">115kB</td>
   <td><tt>91a79b2af51b10063c9483ec21909e244ab14280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kiten-4.11.80.tar.xz">kiten-4.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>b43c294de949129f2a553cff0930f6497f5a12dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kjumpingcube-4.11.80.tar.xz">kjumpingcube-4.11.80</a></td>
   <td align="right">159kB</td>
   <td><tt>35f36ce008286835f47d1539a94bd06273f78151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/klettres-4.11.80.tar.xz">klettres-4.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>fd21fb9cafe47a204c207873107bc63a287c097a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/klickety-4.11.80.tar.xz">klickety-4.11.80</a></td>
   <td align="right">765kB</td>
   <td><tt>389cba3d871f139100ed4d168029422c7f96d5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/klines-4.11.80.tar.xz">klines-4.11.80</a></td>
   <td align="right">926kB</td>
   <td><tt>b6e81cd8f7e91f2663ca340392522efcb6b80c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmag-4.11.80.tar.xz">kmag-4.11.80</a></td>
   <td align="right">84kB</td>
   <td><tt>27b920a3f8acb92a2b903d9cf732597f0e2d4e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmahjongg-4.11.80.tar.xz">kmahjongg-4.11.80</a></td>
   <td align="right">979kB</td>
   <td><tt>25998b9551a46ac1f77bf8dea505b7cdfcf7b3e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmines-4.11.80.tar.xz">kmines-4.11.80</a></td>
   <td align="right">613kB</td>
   <td><tt>976c559452553075d26376fb4109819c28012318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmix-4.11.80.tar.xz">kmix-4.11.80</a></td>
   <td align="right">371kB</td>
   <td><tt>b38864263e499d55379c35a219abcf8a918cdb16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmousetool-4.11.80.tar.xz">kmousetool-4.11.80</a></td>
   <td align="right">35kB</td>
   <td><tt>0a22f6bfd4002c8a52e5b4671933b2d374b1b82f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmouth-4.11.80.tar.xz">kmouth-4.11.80</a></td>
   <td align="right">300kB</td>
   <td><tt>92e6899bfec82cbc965fb9de6effd4de6e0607f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kmplot-4.11.80.tar.xz">kmplot-4.11.80</a></td>
   <td align="right">639kB</td>
   <td><tt>d532e790563f277b321ee8b5195ba44fe0569b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/knavalbattle-4.11.80.tar.xz">knavalbattle-4.11.80</a></td>
   <td align="right">828kB</td>
   <td><tt>7bc9c3705b565bf4020420bfdb1a33f9b672fa18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/knetwalk-4.11.80.tar.xz">knetwalk-4.11.80</a></td>
   <td align="right">763kB</td>
   <td><tt>aaf2507b8842d539aa73c8c99db1ecae9a1a01a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kolf-4.11.80.tar.xz">kolf-4.11.80</a></td>
   <td align="right">745kB</td>
   <td><tt>5c2b593eedb496e335ea3818865b768112a86317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kollision-4.11.80.tar.xz">kollision-4.11.80</a></td>
   <td align="right">202kB</td>
   <td><tt>2bf1765f290b7ead2a44ae56acdedb03961984e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kolourpaint-4.11.80.tar.xz">kolourpaint-4.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d33d4681fde233c3719d0143703d04b90417d007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kompare-4.11.80.tar.xz">kompare-4.11.80</a></td>
   <td align="right">336kB</td>
   <td><tt>89590d411550fae3fb1b3b8b2269a9b52c62041e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/konquest-4.11.80.tar.xz">konquest-4.11.80</a></td>
   <td align="right">406kB</td>
   <td><tt>47a8c8e52e8c7943d249403bd021bc167544dc66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/konsole-4.11.80.tar.xz">konsole-4.11.80</a></td>
   <td align="right">440kB</td>
   <td><tt>fbfbd4c77860de97cfae2ef41eab8939f0670c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kopete-4.11.80.tar.xz">kopete-4.11.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e8758a038c49b3158c2111daa29f311dbfdf7970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/korundum-4.11.80.tar.xz">korundum-4.11.80</a></td>
   <td align="right">156kB</td>
   <td><tt>826cc0fd355f30cd752ef3829dd365453dff5422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kpat-4.11.80.tar.xz">kpat-4.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1887b9aa3ddbc1bbcf163f21657334ceb2f561b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kppp-4.11.80.tar.xz">kppp-4.11.80</a></td>
   <td align="right">680kB</td>
   <td><tt>4e6e4383ce25f8e6f6f5c2b8ccd19c80cb3b4ba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/krdc-4.11.80.tar.xz">krdc-4.11.80</a></td>
   <td align="right">388kB</td>
   <td><tt>f9c338707189017fd8fb0318185b1661e8a6b338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kremotecontrol-4.11.80.tar.xz">kremotecontrol-4.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c58eac18237e2937841d861ee0f57a75406698e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kreversi-4.11.80.tar.xz">kreversi-4.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>c78090dd873e051fe86076c37899774e30fdb17d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/krfb-4.11.80.tar.xz">krfb-4.11.80</a></td>
   <td align="right">456kB</td>
   <td><tt>c8fa1a02aa215c32e5bf65c72f0a728e48c2efcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kross-interpreters-4.11.80.tar.xz">kross-interpreters-4.11.80</a></td>
   <td align="right">127kB</td>
   <td><tt>bca959e34b729b8ef37a8b64473fb0792a6a37bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kruler-4.11.80.tar.xz">kruler-4.11.80</a></td>
   <td align="right">125kB</td>
   <td><tt>1df4e87ea9a2e4be21e4e44e7ec236fc38c9763e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksaneplugin-4.11.80.tar.xz">ksaneplugin-4.11.80</a></td>
   <td align="right">12kB</td>
   <td><tt>1c429fa371fde93f2f6976ee06df878f119cb554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kscd-4.11.80.tar.xz">kscd-4.11.80</a></td>
   <td align="right">90kB</td>
   <td><tt>46b2598b3b1fccd65da2b85c17ad3c2fd757a8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kshisen-4.11.80.tar.xz">kshisen-4.11.80</a></td>
   <td align="right">132kB</td>
   <td><tt>bae9ed63bf1203a3ca4c8f81e1b549303c4620e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksirk-4.11.80.tar.xz">ksirk-4.11.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>7540cb72c7e4bdaff31df214e252966ab49db378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksnakeduel-4.11.80.tar.xz">ksnakeduel-4.11.80</a></td>
   <td align="right">312kB</td>
   <td><tt>326cc040382c828eaaf1d0af04a035d992a3a618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksnapshot-4.11.80.tar.xz">ksnapshot-4.11.80</a></td>
   <td align="right">251kB</td>
   <td><tt>2c884bd1e30be1705b56b3101ec5d702681f8643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kspaceduel-4.11.80.tar.xz">kspaceduel-4.11.80</a></td>
   <td align="right">246kB</td>
   <td><tt>cf15bb787cb4ff0cd894b74595e3e3d6cd565307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksquares-4.11.80.tar.xz">ksquares-4.11.80</a></td>
   <td align="right">77kB</td>
   <td><tt>72e246418efd8ac51e5b69d6e8007f247f3522c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kstars-4.11.80.tar.xz">kstars-4.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>7ef7dbee0e60e8fc66dce3ab7f341960ef4a2752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksudoku-4.11.80.tar.xz">ksudoku-4.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>78e030ac81d0c8472d12b758ea20547300bdc0da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ksystemlog-4.11.80.tar.xz">ksystemlog-4.11.80</a></td>
   <td align="right">373kB</td>
   <td><tt>543282d8c86182cd59596fee338dc4225ae2b95f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kteatime-4.11.80.tar.xz">kteatime-4.11.80</a></td>
   <td align="right">98kB</td>
   <td><tt>702d4747cb87fae88626cb6ff19567dc0822215a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ktimer-4.11.80.tar.xz">ktimer-4.11.80</a></td>
   <td align="right">143kB</td>
   <td><tt>31172b9dc3794746ad05a034ed8115987142bdb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ktouch-4.11.80.tar.xz">ktouch-4.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>673485d02606f8d3ca5c98e132102b776a988c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ktuberling-4.11.80.tar.xz">ktuberling-4.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>691eb7df570667b466b7185129f78c9cf742d1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kturtle-4.11.80.tar.xz">kturtle-4.11.80</a></td>
   <td align="right">183kB</td>
   <td><tt>456b6549ef248f9b9323d2e18e995d3e76c9e742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/ktux-4.11.80.tar.xz">ktux-4.11.80</a></td>
   <td align="right">106kB</td>
   <td><tt>4b5b75c78eb01d43e71bc434a21c390ce6412375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kubrick-4.11.80.tar.xz">kubrick-4.11.80</a></td>
   <td align="right">104kB</td>
   <td><tt>d75df76359aa0c66860b4d93250e7d8e786cc0b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kuser-4.11.80.tar.xz">kuser-4.11.80</a></td>
   <td align="right">131kB</td>
   <td><tt>1c53a740bb4eabf033070d344cf9c7dddae6301d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kwallet-4.11.80.tar.xz">kwallet-4.11.80</a></td>
   <td align="right">377kB</td>
   <td><tt>de8ff3cd58a49b44c74e1b5b30f3c4ccec98436b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kwordquiz-4.11.80.tar.xz">kwordquiz-4.11.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c8eee057db52c5f9f38c655aae19fb5294a3959b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkcddb-4.11.80.tar.xz">libkcddb-4.11.80</a></td>
   <td align="right">154kB</td>
   <td><tt>c2a9e18f51befc132f21a440919527e417512cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkcompactdisc-4.11.80.tar.xz">libkcompactdisc-4.11.80</a></td>
   <td align="right">73kB</td>
   <td><tt>39360408bfc86b2c3b62a561b5b393de51b14c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkdcraw-4.11.80.tar.xz">libkdcraw-4.11.80</a></td>
   <td align="right">97kB</td>
   <td><tt>172ba3271d5b2b784d35284e8d8b973fe4d03ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkdeedu-4.11.80.tar.xz">libkdeedu-4.11.80</a></td>
   <td align="right">204kB</td>
   <td><tt>1459ee1c97744121bfb8c84d2db49093a4ac5b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkdegames-4.11.80.tar.xz">libkdegames-4.11.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>b124eb284fe1e69a44dfa341bb7a6ce337a39c2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkexiv2-4.11.80.tar.xz">libkexiv2-4.11.80</a></td>
   <td align="right">132kB</td>
   <td><tt>d947066d486d5700d8a480ed329713f6487e4dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkipi-4.11.80.tar.xz">libkipi-4.11.80</a></td>
   <td align="right">92kB</td>
   <td><tt>2940760c43b4a4f2605eecb045ec01b94cbd2dc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkmahjongg-4.11.80.tar.xz">libkmahjongg-4.11.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>c08a132c1374924936c4562087e90d862bc16c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libkomparediff2-4.11.80.tar.xz">libkomparediff2-4.11.80</a></td>
   <td align="right">33kB</td>
   <td><tt>7495d471f254ca39fa9b397d1dcd193659112887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/libksane-4.11.80.tar.xz">libksane-4.11.80</a></td>
   <td align="right">78kB</td>
   <td><tt>0b6cdcf63a41469c7209862b7cd2085df7f5a70a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/lokalize-4.11.80.tar.xz">lokalize-4.11.80</a></td>
   <td align="right">826kB</td>
   <td><tt>5c04caf38e863bdfad5f0d42dd9fe8a5bc25b8c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/lskat-4.11.80.tar.xz">lskat-4.11.80</a></td>
   <td align="right">907kB</td>
   <td><tt>f90a5ee40103c41c9cbcf4ea1dcf7cf0d1eda052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/marble-4.11.80.tar.xz">marble-4.11.80</a></td>
   <td align="right">17MB</td>
   <td><tt>41d73740038ebdd9faf2d0204ca7f42a083d89f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/mplayerthumbs-4.11.80.tar.xz">mplayerthumbs-4.11.80</a></td>
   <td align="right">26kB</td>
   <td><tt>ad6f7eca3b92445a90b55fe6f2cf302bdc017478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/nepomuk-core-4.11.80.tar.xz">nepomuk-core-4.11.80</a></td>
   <td align="right">370kB</td>
   <td><tt>fd723a1ac6c621495878d13c889e7f0db6a16302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/nepomuk-widgets-4.11.80.tar.xz">nepomuk-widgets-4.11.80</a></td>
   <td align="right">47kB</td>
   <td><tt>c0f2f8a6719b108a8fb96964fab7871a50a7d1ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/okteta-4.11.80.tar.xz">okteta-4.11.80</a></td>
   <td align="right">481kB</td>
   <td><tt>53466820d8cc7401ed31fbbbc637b584b5c2a728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/okular-4.11.80.tar.xz">okular-4.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7bb686d88f73fbdd38b49a1033da49b8484bfcb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/oxygen-icons-4.11.80.tar.xz">oxygen-icons-4.11.80</a></td>
   <td align="right">219MB</td>
   <td><tt>5c861f607ae4a9784439daf0aa9c94dee29ec35b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/pairs-4.11.80.tar.xz">pairs-4.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d92ac8cc8dac590def82b59de9eb9355b4972789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/palapeli-4.11.80.tar.xz">palapeli-4.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b5fe5ee1a4257dd4d1b21c179cf1a841d4675a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/parley-4.11.80.tar.xz">parley-4.11.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>47bf0fc7511b0100e815b67012d5745d29cefd5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/perlkde-4.11.80.tar.xz">perlkde-4.11.80</a></td>
   <td align="right">39kB</td>
   <td><tt>d16fce36ec40a2757a223c8bbcbbc7c1237ba69c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/perlqt-4.11.80.tar.xz">perlqt-4.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4a29207be3479595dbe3136126d718702d9cce47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/picmi-4.11.80.tar.xz">picmi-4.11.80</a></td>
   <td align="right">712kB</td>
   <td><tt>20af0628c5d89f098f7b2f23bfa1501f6cdc17e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/poxml-4.11.80.tar.xz">poxml-4.11.80</a></td>
   <td align="right">30kB</td>
   <td><tt>8f54359752795b4b10b3eaae4ce1c247f9a4733d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/print-manager-4.11.80.tar.xz">print-manager-4.11.80</a></td>
   <td align="right">89kB</td>
   <td><tt>07a4777ab715aca44347ffcf9c55886e374be380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/pykde4-4.11.80.tar.xz">pykde4-4.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2163f3a747aaed44fd9a1e1d7dd3cd15c2a10829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/qtruby-4.11.80.tar.xz">qtruby-4.11.80</a></td>
   <td align="right">517kB</td>
   <td><tt>38df3664b3b75a46eb3c99085deb1e800c189099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/qyoto-4.11.80.tar.xz">qyoto-4.11.80</a></td>
   <td align="right">495kB</td>
   <td><tt>cab7e5b33c488b2dfd6e6ee32be5d69c7deea341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/rocs-4.11.80.tar.xz">rocs-4.11.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7ffbd813f0eb446995f2d6501780241cee6096a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/smokegen-4.11.80.tar.xz">smokegen-4.11.80</a></td>
   <td align="right">143kB</td>
   <td><tt>f5f42effb9c221d300c032dfba62ea8558b1ebc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/smokekde-4.11.80.tar.xz">smokekde-4.11.80</a></td>
   <td align="right">36kB</td>
   <td><tt>5653227e5b54daf0028aa7907b0aeb310f0e3380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/smokeqt-4.11.80.tar.xz">smokeqt-4.11.80</a></td>
   <td align="right">29kB</td>
   <td><tt>79410929da00bc38e8d06d961637cd54bd02519f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/step-4.11.80.tar.xz">step-4.11.80</a></td>
   <td align="right">353kB</td>
   <td><tt>6b12bffef50fbaf98f5c575c609a6d8d21b30b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/superkaramba-4.11.80.tar.xz">superkaramba-4.11.80</a></td>
   <td align="right">374kB</td>
   <td><tt>356d998edaab11a16e38489a7bf41093bd9ab16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/svgpart-4.11.80.tar.xz">svgpart-4.11.80</a></td>
   <td align="right">8kB</td>
   <td><tt>eaf5626ccee72f8bd959725e9c23836505e623ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/sweeper-4.11.80.tar.xz">sweeper-4.11.80</a></td>
   <td align="right">80kB</td>
   <td><tt>7920acd26dd87cebfe170c77f88d202bd73d2932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/umbrello-4.11.80.tar.xz">umbrello-4.11.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ffcbbfe66f12d7bae11ab5af8f86df885ae730c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ar-4.11.80.tar.xz">kde-l10n-ar-4.11.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d0fa8b4773ac07c02b2280e34b97904c7a02bb1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-bg-4.11.80.tar.xz">kde-l10n-bg-4.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3b7d36788be79feca4e627821a119fbebdd1dbb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-bs-4.11.80.tar.xz">kde-l10n-bs-4.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>952f11523a255b23367f65cd8e7313727600c389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ca-4.11.80.tar.xz">kde-l10n-ca-4.11.80</a></td>
   <td align="right">11MB</td>
   <td><tt>b6ea0b6c736f22ae8754ae7a5b7d838d14996ef2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ca@valencia-4.11.80.tar.xz">kde-l10n-ca@valencia-4.11.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>62dc2ce48d67cf2d0169dd173a772b7732da0777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-cs-4.11.80.tar.xz">kde-l10n-cs-4.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>af4c3b72c5e2d799ceda765e7d1c1842d43ab093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-da-4.11.80.tar.xz">kde-l10n-da-4.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>e6e1fa4c7ce8bbbae8415f1c6f8a1b3f8c81bea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-de-4.11.80.tar.xz">kde-l10n-de-4.11.80</a></td>
   <td align="right">34MB</td>
   <td><tt>9a7d20452d591924cb36ecc482e7682bd2ee4043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-el-4.11.80.tar.xz">kde-l10n-el-4.11.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1306f416466aa6f8656ba9df159943a13121cb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-en_GB-4.11.80.tar.xz">kde-l10n-en_GB-4.11.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9f2838de567af427e7773750a800a262da8f8c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-es-4.11.80.tar.xz">kde-l10n-es-4.11.80</a></td>
   <td align="right">20MB</td>
   <td><tt>9851121d0f426d31b5c12d8d7efac50a5e5915d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-et-4.11.80.tar.xz">kde-l10n-et-4.11.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>0cc63ce1a9fc9458adac3b93c11155f48f2d0bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-eu-4.11.80.tar.xz">kde-l10n-eu-4.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>61b99cd5abcaf83ce3d99959edd2ac8a3dd762aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-fa-4.11.80.tar.xz">kde-l10n-fa-4.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>340c54f204aa4ff86ec74038fccf5ed6a31a922f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-fi-4.11.80.tar.xz">kde-l10n-fi-4.11.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6e26de73b37c9f9533735fb7f183c3ff62ac6771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-fr-4.11.80.tar.xz">kde-l10n-fr-4.11.80</a></td>
   <td align="right">43MB</td>
   <td><tt>5c4f4e84ffa74cd047ae76dafa77f5dee6855a6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ga-4.11.80.tar.xz">kde-l10n-ga-4.11.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c38b367eb80bc6d1ed5e943787865d3a751fc4ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-gl-4.11.80.tar.xz">kde-l10n-gl-4.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>27bc8f8c02c1a7e06d36069300a6633217b07be9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-he-4.11.80.tar.xz">kde-l10n-he-4.11.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ed6326cc5ca7706447e2fefaf89993a0a69653bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-hi-4.11.80.tar.xz">kde-l10n-hi-4.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>56ec93972c828b5f9985ff5ac402ea198174eed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-hr-4.11.80.tar.xz">kde-l10n-hr-4.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8a6ee264256b60773073315519adda42366955da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-hu-4.11.80.tar.xz">kde-l10n-hu-4.11.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>251a1ea233e574d2f7ee7b625dbb8ed5608a4d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ia-4.11.80.tar.xz">kde-l10n-ia-4.11.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dff6c883b394d866f7112e8c35e857b0a9500742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-is-4.11.80.tar.xz">kde-l10n-is-4.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>078dd596840bd6611356ca57c183c19ecbcfc3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-it-4.11.80.tar.xz">kde-l10n-it-4.11.80</a></td>
   <td align="right">8.3MB</td>
   <td><tt>8e92eb38dd1a0113b8ab643f4a5a244df2f74099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ja-4.11.80.tar.xz">kde-l10n-ja-4.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4d761f3b3050bfe2fd739457e012efe71e899c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-kk-4.11.80.tar.xz">kde-l10n-kk-4.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>cae69b50a99d819bb8f0ebce5b19aa12b11c71d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-km-4.11.80.tar.xz">kde-l10n-km-4.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7e42d060aee5a9e42ce7879e2ab9c85f810491c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ko-4.11.80.tar.xz">kde-l10n-ko-4.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>65edb232c02fd9f83add7ee29add6a9c5785f0a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-lt-4.11.80.tar.xz">kde-l10n-lt-4.11.80</a></td>
   <td align="right">12MB</td>
   <td><tt>991e75e92c695ed39f9a03ba53756d789238e4e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-lv-4.11.80.tar.xz">kde-l10n-lv-4.11.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2b256518c470e5bed33305853338e4b871446ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-mr-4.11.80.tar.xz">kde-l10n-mr-4.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>ddb22e129a5f508e662e61387617374b6d348803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-nb-4.11.80.tar.xz">kde-l10n-nb-4.11.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>87fae95b8d238da97d0ddc2225ac3daf4bd8ec66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-nds-4.11.80.tar.xz">kde-l10n-nds-4.11.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>76e1fa82de157501e6e7df42db38ecf7b2f3b4a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-nl-4.11.80.tar.xz">kde-l10n-nl-4.11.80</a></td>
   <td align="right">13MB</td>
   <td><tt>1a25ff1650d03635e871a8b17719c44317017925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-nn-4.11.80.tar.xz">kde-l10n-nn-4.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7b1b623c58c5b6ea8926c6339ac504aa65a6a189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-pa-4.11.80.tar.xz">kde-l10n-pa-4.11.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f863198c83bd0603050a73745e1c3eac866a0688</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-pl-4.11.80.tar.xz">kde-l10n-pl-4.11.80</a></td>
   <td align="right">16MB</td>
   <td><tt>b151c9aac30270e135159aa9299f90c026585fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-pt-4.11.80.tar.xz">kde-l10n-pt-4.11.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>269aaaea776633c75b82d1e1eafa38b3c5e89998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-pt_BR-4.11.80.tar.xz">kde-l10n-pt_BR-4.11.80</a></td>
   <td align="right">23MB</td>
   <td><tt>425981201330a7824671e56d2b3a67e7d6257071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ro-4.11.80.tar.xz">kde-l10n-ro-4.11.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>e442298c393f9f5ae4f1bf8f9fa6a384d389a2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ru-4.11.80.tar.xz">kde-l10n-ru-4.11.80</a></td>
   <td align="right">21MB</td>
   <td><tt>92c2a7ddf8a41f1daf4da5d9e022a9afc3a459c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-sk-4.11.80.tar.xz">kde-l10n-sk-4.11.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>dab8909349277c0f3f58896ee2e586046db29179</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-sl-4.11.80.tar.xz">kde-l10n-sl-4.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>44f76fa8802fc5e27dacb898dbaf04bce168cda7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-sr-4.11.80.tar.xz">kde-l10n-sr-4.11.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>549d80ec334d9a5f8066488ce0f9a7c6718663b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-sv-4.11.80.tar.xz">kde-l10n-sv-4.11.80</a></td>
   <td align="right">13MB</td>
   <td><tt>fca4575115f0ae8e4765dd6396cb239b4dc64347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-tg-4.11.80.tar.xz">kde-l10n-tg-4.11.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>905a4bc85d25c956028429fb6bd31f61d98248d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-tr-4.11.80.tar.xz">kde-l10n-tr-4.11.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>017d1262ccba3a47e6e5e39df38d2b06eb55960a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-ug-4.11.80.tar.xz">kde-l10n-ug-4.11.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f4cc150efc492c9ecbee418ce4ca44f521bfeb06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-uk-4.11.80.tar.xz">kde-l10n-uk-4.11.80</a></td>
   <td align="right">24MB</td>
   <td><tt>61d54c7302ba53831a4102e8acb0a74cb712595e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-vi-4.11.80.tar.xz">kde-l10n-vi-4.11.80</a></td>
   <td align="right">921kB</td>
   <td><tt>d9dce0ae7859b7689b31c4a86088c78a82f97450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-wa-4.11.80.tar.xz">kde-l10n-wa-4.11.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e78bfeae34661d4a093824975748f69dab02e5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-zh_CN-4.11.80.tar.xz">kde-l10n-zh_CN-4.11.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>b0f93e1591165c2fed681269d6e81fc68050abe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.11.80/src/kde-l10n/kde-l10n-zh_TW-4.11.80.tar.xz">kde-l10n-zh_TW-4.11.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>3f20ca710356ce0d5083f5564855d240ac4d1780</tt></td>
</tr>

</table>
