<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/analitza-4.7.95.tar.bz2">analitza-4.7.95</a></td><td align="right">144KB</td><td><tt>393d227dd839f113a58f018f47a08bc36c681335</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/ark-4.7.95.tar.bz2">ark-4.7.95</a></td><td align="right">156KB</td><td><tt>406dfb42c2e0f9a5baf8b22933b756bc94ea4091</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/blinken-4.7.95.tar.bz2">blinken-4.7.95</a></td><td align="right">592KB</td><td><tt>61dbca451f8435eac9715ca8cd9d99fae7d18020</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/cantor-4.7.95.tar.bz2">cantor-4.7.95</a></td><td align="right">268KB</td><td><tt>efd9196992e53eacfd981b42b597cfb228c2e93b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/filelight-4.7.95.tar.bz2">filelight-4.7.95</a></td><td align="right">300KB</td><td><tt>b4e5a3c141dcab0576e6f5c63d892738268b790e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/gwenview-4.7.95.tar.bz2">gwenview-4.7.95</a></td><td align="right">1.9MB</td><td><tt>14c48536d91c058f4bcbc76f41c17b15922ff9d5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/jovie-4.7.95.tar.bz2">jovie-4.7.95</a></td><td align="right">376KB</td><td><tt>3aa2a0fb8d12288adc80851541ca0ff3a26834e9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kaccessible-4.7.95.tar.bz2">kaccessible-4.7.95</a></td><td align="right">24KB</td><td><tt>e7cc4f044ab6b01f7bce068d0513e6c70b378ed7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kactivities-4.7.95.tar.bz2">kactivities-4.7.95</a></td><td align="right">36KB</td><td><tt>3bd6c03c82e0c9083a177e79b8379d3ba2924863</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kalgebra-4.7.95.tar.bz2">kalgebra-4.7.95</a></td><td align="right">432KB</td><td><tt>8d5e918ed57886f943be98e8dd81c9a3ef733645</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kalzium-4.7.95.tar.bz2">kalzium-4.7.95</a></td><td align="right">3.9MB</td><td><tt>431f168d1ef711aa8dbed1d87c7c8c9127fcfd3c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kamera-4.7.95.tar.bz2">kamera-4.7.95</a></td><td align="right">40KB</td><td><tt>028f4c4078a9273d4f9105ccedb68f3ab7972a35</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kanagram-4.7.95.tar.bz2">kanagram-4.7.95</a></td><td align="right">636KB</td><td><tt>45f12fb0ac6c27475d85463a937661d33a4d4c36</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kate-4.7.95.tar.bz2">kate-4.7.95</a></td><td align="right">2.1MB</td><td><tt>f144591e7b7ad6d73118dd2c34069424e99969aa</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kbruch-4.7.95.tar.bz2">kbruch-4.7.95</a></td><td align="right">944KB</td><td><tt>c8c5919fcd2532aa3708b7be3d312526e0bd4a32</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kcalc-4.7.95.tar.bz2">kcalc-4.7.95</a></td><td align="right">92KB</td><td><tt>a3d926c5326447c08180122c6e3cd2a1fce1c83a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kcharselect-4.7.95.tar.bz2">kcharselect-4.7.95</a></td><td align="right">92KB</td><td><tt>3958a6b886535a844b63aebca87798408014d970</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kcolorchooser-4.7.95.tar.bz2">kcolorchooser-4.7.95</a></td><td align="right">8.0KB</td><td><tt>98d73001acf5aa942ff499026ac6955ec935323e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdeadmin-4.7.95.tar.bz2">kdeadmin-4.7.95</a></td><td align="right">792KB</td><td><tt>b251d5acfa978bc624301edca83bcb228a31c166</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdeartwork-4.7.95.tar.bz2">kdeartwork-4.7.95</a></td><td align="right">137MB</td><td><tt>0b93cab0100985a33730650bfd8fb4a43f64079e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kde-baseapps-4.7.95.tar.bz2">kde-baseapps-4.7.95</a></td><td align="right">2.7MB</td><td><tt>35dcb5cc207c6245dd6a9c72c5dd3f89a5369a13</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdegames-4.7.95.tar.bz2">kdegames-4.7.95</a></td><td align="right">61MB</td><td><tt>a786ef694ec0bf0919ef459e29e247ae12a03434</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdegraphics-strigi-analyzer-4.7.95.tar.bz2">kdegraphics-strigi-analyzer-4.7.95</a></td><td align="right">44KB</td><td><tt>af96a8c7ecca581d4a2d8ebd79eac40526ff19d0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdegraphics-thumbnailers-4.7.95.tar.bz2">kdegraphics-thumbnailers-4.7.95</a></td><td align="right">44KB</td><td><tt>b01edb328e1e3dd8b11d6ba3d2a0a5f2b9c5fd6d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdelibs-4.7.95.tar.bz2">kdelibs-4.7.95</a></td><td align="right">13MB</td><td><tt>6760074426f19152865cb7f8089b34feb5abadeb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdemultimedia-4.7.95.tar.bz2">kdemultimedia-4.7.95</a></td><td align="right">1.6MB</td><td><tt>8c56f7bcbfd012492f97a3a827f97d07b7b6b390</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdenetwork-4.7.95.tar.bz2">kdenetwork-4.7.95</a></td><td align="right">9.6MB</td><td><tt>9bb4763bc8fe65484c74ec0e845023e0f1c1eeae</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdepim-4.7.95.tar.bz2">kdepim-4.7.95</a></td><td align="right">16MB</td><td><tt>61932d267fa6a6c9be37c1b92277f206910f7c00</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdepimlibs-4.7.95.tar.bz2">kdepimlibs-4.7.95</a></td><td align="right">3.2MB</td><td><tt>2a1d685b7e15aaa019f440df62b47f401303bf46</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdepim-runtime-4.7.95.tar.bz2">kdepim-runtime-4.7.95</a></td><td align="right">1.3MB</td><td><tt>4255adc5f2a4b98d7b13324a5f54598f3c27e9aa</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdeplasma-addons-4.7.95.tar.bz2">kdeplasma-addons-4.7.95</a></td><td align="right">1.9MB</td><td><tt>b9207824aa8b764f203ef436111999fea429feb7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kde-runtime-4.7.95.tar.bz2">kde-runtime-4.7.95</a></td><td align="right">5.9MB</td><td><tt>df5102ad23221d5b8aeb18e9ba5ca775ff4d537d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdesdk-4.7.95.tar.bz2">kdesdk-4.7.95</a></td><td align="right">5.2MB</td><td><tt>2e1167aaab23719254e677eba153308461dabf4b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdetoys-4.7.95.tar.bz2">kdetoys-4.7.95</a></td><td align="right">408KB</td><td><tt>4652102ae5c5aac0f82d20a8266d841cd7554c9c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kde-wallpapers-4.7.95.tar.bz2">kde-wallpapers-4.7.95</a></td><td align="right">63MB</td><td><tt>ea01d71f90c0186b03c529cd17a7c9930dcdadf1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdewebdev-4.7.95.tar.bz2">kdewebdev-4.7.95</a></td><td align="right">2.6MB</td><td><tt>9d3ebeb74f6b5c93bd2bdb1cafafd4aa236bb02a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kde-workspace-4.7.95.tar.bz2">kde-workspace-4.7.95</a></td><td align="right">35MB</td><td><tt>405dae8163476777145e6e6e5f3c32317483f863</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kdf-4.7.95.tar.bz2">kdf-4.7.95</a></td><td align="right">164KB</td><td><tt>ba65365db2fbdfb13e2834014d6d8acd7370090f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kfloppy-4.7.95.tar.bz2">kfloppy-4.7.95</a></td><td align="right">64KB</td><td><tt>c6d6ee9abd9e508fef0f231c1b21afda25456334</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kgamma-4.7.95.tar.bz2">kgamma-4.7.95</a></td><td align="right">28KB</td><td><tt>ea1d3cedb60a01afa52fda9b817880166b955c64</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kgeography-4.7.95.tar.bz2">kgeography-4.7.95</a></td><td align="right">6.6MB</td><td><tt>c466c070d0e66f6a5d52e139369981d770805fce</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kgpg-4.7.95.tar.bz2">kgpg-4.7.95</a></td><td align="right">816KB</td><td><tt>f145be00852e9f29758be4d4df36dc51b39fe57c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/khangman-4.7.95.tar.bz2">khangman-4.7.95</a></td><td align="right">1.3MB</td><td><tt>51676ccf0469c4ca7cff1466a272d666622ca56f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kig-4.7.95.tar.bz2">kig-4.7.95</a></td><td align="right">1.6MB</td><td><tt>2d436e353854576f9a1ca553f89c871890f481b1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kimono-4.7.95.tar.bz2">kimono-4.7.95</a></td><td align="right">984KB</td><td><tt>c022fbec9b0630fb04d1015b722e5b383fc1e043</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kiten-4.7.95.tar.bz2">kiten-4.7.95</a></td><td align="right">11MB</td><td><tt>56276fbb0685805085f90fda373b7ef22d9b3cc6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/klettres-4.7.95.tar.bz2">klettres-4.7.95</a></td><td align="right">2.7MB</td><td><tt>11940bc514421e83da44b71e3e5ef4bcf4ea01fd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kmag-4.7.95.tar.bz2">kmag-4.7.95</a></td><td align="right">96KB</td><td><tt>936793b289c0c9af70176e656bda7dbc957ad696</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kmousetool-4.7.95.tar.bz2">kmousetool-4.7.95</a></td><td align="right">48KB</td><td><tt>89c0db670127dc128cc65bed60b2389796b9e797</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kmouth-4.7.95.tar.bz2">kmouth-4.7.95</a></td><td align="right">332KB</td><td><tt>213ecde9dc4424b702a529865f1d53f78dc1fc2e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kmplot-4.7.95.tar.bz2">kmplot-4.7.95</a></td><td align="right">692KB</td><td><tt>070fb54667c77082090fd0dc94fcc7aa6dec7447</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kolourpaint-4.7.95.tar.bz2">kolourpaint-4.7.95</a></td><td align="right">1.2MB</td><td><tt>ac6ada7e88344a76b80e68cfd283ce83eb882fd4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/konsole-4.7.95.tar.bz2">konsole-4.7.95</a></td><td align="right">472KB</td><td><tt>7e5b45ba80c3bd53c228e74a59003450fc42d736</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/korundum-4.7.95.tar.bz2">korundum-4.7.95</a></td><td align="right">176KB</td><td><tt>7d881a7245b056cf0c4411d17888b368a1f6b44c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kremotecontrol-4.7.95.tar.bz2">kremotecontrol-4.7.95</a></td><td align="right">1.1MB</td><td><tt>e912044f791a7d40bb28d653924ea0748c5702dd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kross-interpreters-4.7.95.tar.bz2">kross-interpreters-4.7.95</a></td><td align="right">132KB</td><td><tt>8f5d8f286b07a1fd731f0359e92361e432a16e34</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kruler-4.7.95.tar.bz2">kruler-4.7.95</a></td><td align="right">140KB</td><td><tt>cc70a376f58344839cd7131498e51bc49a587090</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/ksaneplugin-4.7.95.tar.bz2">ksaneplugin-4.7.95</a></td><td align="right">16KB</td><td><tt>6ee87e5a7e04a48231cc920a3c9ea18bdeb95122</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/ksecrets-4.7.95.tar.bz2">ksecrets-4.7.95</a></td><td align="right">148KB</td><td><tt>5c9936a62b0592efcdd9966da84572f8ba7bb71f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/ksnapshot-4.7.95.tar.bz2">ksnapshot-4.7.95</a></td><td align="right">268KB</td><td><tt>a788679adb6e2d47b1189a43889e0d39b5db6631</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kstars-4.7.95.tar.bz2">kstars-4.7.95</a></td><td align="right">13MB</td><td><tt>b62b879cd21759e6e8648895ac6dad631b010ddb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/ktimer-4.7.95.tar.bz2">ktimer-4.7.95</a></td><td align="right">164KB</td><td><tt>dd1bfdba770116af6da5c07796fb9b824f456af7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/ktouch-4.7.95.tar.bz2">ktouch-4.7.95</a></td><td align="right">1.9MB</td><td><tt>7e285dc764ef14fe3d6c8de8b65da08c98e28bf9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kturtle-4.7.95.tar.bz2">kturtle-4.7.95</a></td><td align="right">224KB</td><td><tt>cec35a632ff6df29076a8f753c81e2a89f658b2b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kwallet-4.7.95.tar.bz2">kwallet-4.7.95</a></td><td align="right">296KB</td><td><tt>3acefd96593fa4e95a80405032c0003da73410be</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/kwordquiz-4.7.95.tar.bz2">kwordquiz-4.7.95</a></td><td align="right">1.3MB</td><td><tt>ba7aaf0951923ca7aa99dfbd5c126db9644857f6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/libkdcraw-4.7.95.tar.bz2">libkdcraw-4.7.95</a></td><td align="right">292KB</td><td><tt>5403125ee93b7ae0d2140086353f10bb97b8b0b8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/libkdeedu-4.7.95.tar.bz2">libkdeedu-4.7.95</a></td><td align="right">220KB</td><td><tt>3116737618ecb4b58b2fe07b3b0e36b40fc18a43</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/libkexiv2-4.7.95.tar.bz2">libkexiv2-4.7.95</a></td><td align="right">132KB</td><td><tt>e6490c15be496da99131b29836aa45a1bb7a5e4e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/libkipi-4.7.95.tar.bz2">libkipi-4.7.95</a></td><td align="right">80KB</td><td><tt>5dc5035e6b4d9334b123bfc430fe9693c0bfc245</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/libksane-4.7.95.tar.bz2">libksane-4.7.95</a></td><td align="right">84KB</td><td><tt>bbbb86e86929987269437583d55fc9f7a38c045c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/marble-4.7.95.tar.bz2">marble-4.7.95</a></td><td align="right">21MB</td><td><tt>cb4d4a4b5ac69ac43d18a4b3f5dea4211bb89785</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/mobipocket-4.7.95.tar.bz2">mobipocket-4.7.95</a></td><td align="right">20KB</td><td><tt>6185c6d5e611e572cd67aea5169456c1f9dfa4c8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/okular-4.7.95.tar.bz2">okular-4.7.95</a></td><td align="right">1.2MB</td><td><tt>db916c8a5ab95c5c97b834f02e9227416a736df8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/oxygen-icons-4.7.95.tar.bz2">oxygen-icons-4.7.95</a></td><td align="right">356MB</td><td><tt>359d2fbc57b361d723d97e8c00e47f3b4022f4db</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/parley-4.7.95.tar.bz2">parley-4.7.95</a></td><td align="right">11MB</td><td><tt>bf2ca7216b2334fb6a2049bf5670ccff840eff88</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/perlkde-4.7.95.tar.bz2">perlkde-4.7.95</a></td><td align="right">40KB</td><td><tt>00e5c5368c61d43732b069c66ddb07b15f529964</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/perlqt-4.7.95.tar.bz2">perlqt-4.7.95</a></td><td align="right">1.9MB</td><td><tt>f596a5b04544a66cb681d77d4b45185a1a373e26</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/printer-applet-4.7.95.tar.bz2">printer-applet-4.7.95</a></td><td align="right">40KB</td><td><tt>af4f722923792668b84ace5db83d673bbac02915</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/pykde4-4.7.95.tar.bz2">pykde4-4.7.95</a></td><td align="right">2.1MB</td><td><tt>7c1d3c590e80b871ab21be45d4a57ab8aa420e22</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/qtruby-4.7.95.tar.bz2">qtruby-4.7.95</a></td><td align="right">604KB</td><td><tt>d73ff78d2d59dfc1f5777ca267bd7e81dad3573c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/qyoto-4.7.95.tar.bz2">qyoto-4.7.95</a></td><td align="right">544KB</td><td><tt>b7e55ce3d679498c3d07d5454622e3778efcd801</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/rocs-4.7.95.tar.bz2">rocs-4.7.95</a></td><td align="right">696KB</td><td><tt>d87ae198cdc025842ca60fbc03350d88d62cdbdd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/smokegen-4.7.95.tar.bz2">smokegen-4.7.95</a></td><td align="right">148KB</td><td><tt>12878b6a35c7a0027d74abc5611e6b0c628d467c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/smokekde-4.7.95.tar.bz2">smokekde-4.7.95</a></td><td align="right">40KB</td><td><tt>52c57ffcc6ef3a743b60b28f8caaf1362ceafa15</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/smokeqt-4.7.95.tar.bz2">smokeqt-4.7.95</a></td><td align="right">32KB</td><td><tt>1d1fae7aaee883b6a25793852ee99f4d352e317a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/step-4.7.95.tar.bz2">step-4.7.95</a></td><td align="right">392KB</td><td><tt>a97d987e05509d0a15442e2ef2f958e819b64e5c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/superkaramba-4.7.95.tar.bz2">superkaramba-4.7.95</a></td><td align="right">412KB</td><td><tt>59636cf38b700a513bedcfd4d572e8cdbd22c88f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/svgpart-4.7.95.tar.bz2">svgpart-4.7.95</a></td><td align="right">12KB</td><td><tt>0253fbc5f92075ca9399db8bf717fe4df52c5422</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.95/src/sweeper-4.7.95.tar.bz2">sweeper-4.7.95</a></td><td align="right">88KB</td><td><tt>c5c94cc4aceb53b6ecfd996a3bcc66a16635b8c3</tt></td></tr>
</table>
