<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-18.12.2.tar.xz">akonadi-18.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f38b38cb3f82b22309b702c431355e4877544f9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-calendar-18.12.2.tar.xz">akonadi-calendar-18.12.2</a></td>
   <td align="right">325kB</td>
   <td><tt>1bfdd0a51373000cce6fade72346b5bd847d1121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-calendar-tools-18.12.2.tar.xz">akonadi-calendar-tools-18.12.2</a></td>
   <td align="right">220kB</td>
   <td><tt>febe4b5217f0839c13fc1941bf6d5a1b070c9b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadiconsole-18.12.2.tar.xz">akonadiconsole-18.12.2</a></td>
   <td align="right">189kB</td>
   <td><tt>76941ac0271d91f7b96ca8d0a38d66f592c66279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-contacts-18.12.2.tar.xz">akonadi-contacts-18.12.2</a></td>
   <td align="right">381kB</td>
   <td><tt>abfb2abe23bf0f6affe84e760de44625ab8a0afb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-import-wizard-18.12.2.tar.xz">akonadi-import-wizard-18.12.2</a></td>
   <td align="right">428kB</td>
   <td><tt>4d4168765e241a8df75711f241758c21c130230f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-mime-18.12.2.tar.xz">akonadi-mime-18.12.2</a></td>
   <td align="right">133kB</td>
   <td><tt>e7102f3f127f344b040871a9743129c60d00bf87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-notes-18.12.2.tar.xz">akonadi-notes-18.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>79a7b77b31052ea56f682a973a102feea09ece52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akonadi-search-18.12.2.tar.xz">akonadi-search-18.12.2</a></td>
   <td align="right">80kB</td>
   <td><tt>473de0e5dac51c3f5849b629c4aa8c00f3df0ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/akregator-18.12.2.tar.xz">akregator-18.12.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5b49abb8a29970401a23e58dce995d7602719e3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/analitza-18.12.2.tar.xz">analitza-18.12.2</a></td>
   <td align="right">324kB</td>
   <td><tt>83336abfc9028ef9501a82e8172b2a2a04c46732</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ark-18.12.2.tar.xz">ark-18.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>20b9f070bb597448f42d2570a23f5d6045c4f111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/artikulate-18.12.2.tar.xz">artikulate-18.12.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>60b5f0cb02b2d511d4fe71333f0363dc8da4bf48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/audiocd-kio-18.12.2.tar.xz">audiocd-kio-18.12.2</a></td>
   <td align="right">244kB</td>
   <td><tt>45224a83019dd65f4ef6e1b789425da8c1433a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/baloo-widgets-18.12.2.tar.xz">baloo-widgets-18.12.2</a></td>
   <td align="right">239kB</td>
   <td><tt>a8258ca08e1267101e748cd5cc7999e434a7c7ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/blinken-18.12.2.tar.xz">blinken-18.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>934be2ef00ed5c85bedf477a5def2fff6d669139</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/bomber-18.12.2.tar.xz">bomber-18.12.2</a></td>
   <td align="right">800kB</td>
   <td><tt>459933817f65d642a566a6afc911ff26c243848a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/bovo-18.12.2.tar.xz">bovo-18.12.2</a></td>
   <td align="right">194kB</td>
   <td><tt>fba57a68f6865134a54fe0f95ed7cca3810614bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/calendarsupport-18.12.2.tar.xz">calendarsupport-18.12.2</a></td>
   <td align="right">631kB</td>
   <td><tt>ca0e2d6c11b5520a89531c7ae87561cd2bf9896c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/cantor-18.12.2.tar.xz">cantor-18.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f69b2c2fa320a909a70e1a75a807fcf812de5564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/cervisia-18.12.2.tar.xz">cervisia-18.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>16ab5ba0140abbd1b2338bd7c3a46462fc9af4cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/dolphin-18.12.2.tar.xz">dolphin-18.12.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>37efca2573f1f9d8e0ae275959f38317783211e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/dolphin-plugins-18.12.2.tar.xz">dolphin-plugins-18.12.2</a></td>
   <td align="right">187kB</td>
   <td><tt>d7ad6c94991d9301d00ee9294eb1fc86013f3c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/dragon-18.12.2.tar.xz">dragon-18.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d525a43debc335ce1933c062f6041809577ecfad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/eventviews-18.12.2.tar.xz">eventviews-18.12.2</a></td>
   <td align="right">433kB</td>
   <td><tt>1b1d7355cc6d2fd0f5890eb4e9d13d52f9bb35ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ffmpegthumbs-18.12.2.tar.xz">ffmpegthumbs-18.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>6b447dc3bcc7724a65a5f32d07b809943a17fc67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/filelight-18.12.2.tar.xz">filelight-18.12.2</a></td>
   <td align="right">645kB</td>
   <td><tt>3d9a51ea2c581fcd2a6af7ad52d7dc13c61cfaec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/granatier-18.12.2.tar.xz">granatier-18.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bc1f72e500316e55385f34e1dc81ba1e0c28a8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/grantlee-editor-18.12.2.tar.xz">grantlee-editor-18.12.2</a></td>
   <td align="right">108kB</td>
   <td><tt>7c57f536a42ca5c0f8e99fa3ee817363520b5f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/grantleetheme-18.12.2.tar.xz">grantleetheme-18.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>64e5088a8e0c7905ce0692e7db7ebfa300ee5753</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/gwenview-18.12.2.tar.xz">gwenview-18.12.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>ee94675bf173c328b289388c6c82757a60d7a208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/incidenceeditor-18.12.2.tar.xz">incidenceeditor-18.12.2</a></td>
   <td align="right">529kB</td>
   <td><tt>d2518943a87734b6a22e99cb6e3566079f380d74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/juk-18.12.2.tar.xz">juk-18.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>903f23d7b2647dfa52cdc854151a0caa0cc5e236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/k3b-18.12.2.tar.xz">k3b-18.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>427e2d899a8613ed694ac26214d6f45667a82f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kaccounts-integration-18.12.2.tar.xz">kaccounts-integration-18.12.2</a></td>
   <td align="right">69kB</td>
   <td><tt>705be1d0121a26afca46741898fef160a70d3255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kaccounts-providers-18.12.2.tar.xz">kaccounts-providers-18.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>8063812fdf72c4da6eb4101f9e192ec036c1d02c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kaddressbook-18.12.2.tar.xz">kaddressbook-18.12.2</a></td>
   <td align="right">461kB</td>
   <td><tt>241244506a3de840e716cada93d8585eb28014d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kajongg-18.12.2.tar.xz">kajongg-18.12.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>420c8f6e9c9ddc7807b318f1b20434255e89f0e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kalarm-18.12.2.tar.xz">kalarm-18.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7f7b1f7a512b61a6894e71e2c24c8ffebe83bfad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kalarmcal-18.12.2.tar.xz">kalarmcal-18.12.2</a></td>
   <td align="right">559kB</td>
   <td><tt>7adb0457f5e02b49913c414c3e4d1e1fee14cff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kalgebra-18.12.2.tar.xz">kalgebra-18.12.2</a></td>
   <td align="right">700kB</td>
   <td><tt>6010a96b1c479a8d0f1919aeaa225de4c162fc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kalzium-18.12.2.tar.xz">kalzium-18.12.2</a></td>
   <td align="right">25MB</td>
   <td><tt>97d2559a1de7076a192530510f35af516f32176e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kamera-18.12.2.tar.xz">kamera-18.12.2</a></td>
   <td align="right">96kB</td>
   <td><tt>06c08012e057153df516c6ce656f294ebc122d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kamoso-18.12.2.tar.xz">kamoso-18.12.2</a></td>
   <td align="right">162kB</td>
   <td><tt>b7d70f7ec6161e849a4826d1c8fa208e5ca9c102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kanagram-18.12.2.tar.xz">kanagram-18.12.2</a></td>
   <td align="right">7.6MB</td>
   <td><tt>188ff018c976d3cdb0013de9cd2faa832dce1b55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kapman-18.12.2.tar.xz">kapman-18.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4f0d0f36233dc332487a2eca3aefd082d999a55d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kapptemplate-18.12.2.tar.xz">kapptemplate-18.12.2</a></td>
   <td align="right">309kB</td>
   <td><tt>c15a3a89c38f5b7281a3f71c5872d3cd022875a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kate-18.12.2.tar.xz">kate-18.12.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>121a03ce9e19f19ca55eb451fc2e21115e7c776f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/katomic-18.12.2.tar.xz">katomic-18.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>49a7ccde3547e04e3501bfc8a62fc45c85343542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kbackup-18.12.2.tar.xz">kbackup-18.12.2</a></td>
   <td align="right">343kB</td>
   <td><tt>002e61ff3be3a0e69051a6ba3a66c4891fdaef68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kblackbox-18.12.2.tar.xz">kblackbox-18.12.2</a></td>
   <td align="right">433kB</td>
   <td><tt>8df3527248474d355f194f814d104ccae93cffb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kblocks-18.12.2.tar.xz">kblocks-18.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>20bff97043a85d8dc93d344f1d72ffb122e1980b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kblog-18.12.2.tar.xz">kblog-18.12.2</a></td>
   <td align="right">70kB</td>
   <td><tt>14f136bcfaf312365ae938b9c497587f48120e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kbounce-18.12.2.tar.xz">kbounce-18.12.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2f18f618f9bd33ba18d275f3595c76e94072d034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kbreakout-18.12.2.tar.xz">kbreakout-18.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a43568b526718a11ccbfa48875fee23dd3986532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kbruch-18.12.2.tar.xz">kbruch-18.12.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>b3204f815d4da35b2dddb36bcd0a831c0a094897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcachegrind-18.12.2.tar.xz">kcachegrind-18.12.2</a></td>
   <td align="right">789kB</td>
   <td><tt>219a402c3db551f4fcaf7c10842826306860f312</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcalc-18.12.2.tar.xz">kcalc-18.12.2</a></td>
   <td align="right">354kB</td>
   <td><tt>a3347810fc7d3c8ffb5736c6cc0e70a317821f5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcalcore-18.12.2.tar.xz">kcalcore-18.12.2</a></td>
   <td align="right">246kB</td>
   <td><tt>df6726eeea5117f1b3a5c00aa7be4c50de575ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcalutils-18.12.2.tar.xz">kcalutils-18.12.2</a></td>
   <td align="right">321kB</td>
   <td><tt>12d583de3e7ae6742cae18325a3e876aee76bbfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcharselect-18.12.2.tar.xz">kcharselect-18.12.2</a></td>
   <td align="right">326kB</td>
   <td><tt>1fe9af5904bae78cd2f20022dea529ebdf25361a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcolorchooser-18.12.2.tar.xz">kcolorchooser-18.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>abfa82a52db39868bbfefa5dd8ab470f4c59eab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcontacts-18.12.2.tar.xz">kcontacts-18.12.2</a></td>
   <td align="right">589kB</td>
   <td><tt>c6d1f108491ff33c625d5d2ab0393a1d7e50ee7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kcron-18.12.2.tar.xz">kcron-18.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>155b82cc7eaa6e1f68ec920236745b5713e25896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdav-18.12.2.tar.xz">kdav-18.12.2</a></td>
   <td align="right">48kB</td>
   <td><tt>a103f9bbc214a7637130998e39d6c5d81fb69127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdebugsettings-18.12.2.tar.xz">kdebugsettings-18.12.2</a></td>
   <td align="right">53kB</td>
   <td><tt>d57bf1c3a7bb34c99657ff333657d869d3621c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kde-dev-scripts-18.12.2.tar.xz">kde-dev-scripts-18.12.2</a></td>
   <td align="right">369kB</td>
   <td><tt>d6b52a060c42c962f1ee0216dbf3c049f674ceb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kde-dev-utils-18.12.2.tar.xz">kde-dev-utils-18.12.2</a></td>
   <td align="right">59kB</td>
   <td><tt>f311b92e6dfc21921b7b8f56252b92b8c630d460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdeedu-data-18.12.2.tar.xz">kdeedu-data-18.12.2</a></td>
   <td align="right">320kB</td>
   <td><tt>acec34208147c14b049fba7910c2ce770c66aa46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdegraphics-mobipocket-18.12.2.tar.xz">kdegraphics-mobipocket-18.12.2</a></td>
   <td align="right">13kB</td>
   <td><tt>d37081bdf89970f032a696555b22bc63f6e7e8c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdegraphics-thumbnailers-18.12.2.tar.xz">kdegraphics-thumbnailers-18.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>c0e1d7bed7720b15690238630c3f9a9ae0d35669</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdenetwork-filesharing-18.12.2.tar.xz">kdenetwork-filesharing-18.12.2</a></td>
   <td align="right">305kB</td>
   <td><tt>a8c495c7cc30359d28a7cdd6b591284a04a282e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdenlive-18.12.2.tar.xz">kdenlive-18.12.2</a></td>
   <td align="right">9.7MB</td>
   <td><tt>3b4d13f21bf70cec0bd4bc4027a0c3baed308613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdepim-addons-18.12.2.tar.xz">kdepim-addons-18.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>38d24e5ed9dc27bd2b705bff2a616406bef480c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdepim-apps-libs-18.12.2.tar.xz">kdepim-apps-libs-18.12.2</a></td>
   <td align="right">83kB</td>
   <td><tt>b7b36cfb22902aacea0f7b372a0608ea2ddc9b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdepim-runtime-18.12.2.tar.xz">kdepim-runtime-18.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0f88b98b347018c364fe0805cc1a811f2f2e946d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdesdk-kioslaves-18.12.2.tar.xz">kdesdk-kioslaves-18.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>5b04dfe6139c37b0f75f65cf1cf3656ba2ecd560</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdesdk-thumbnailers-18.12.2.tar.xz">kdesdk-thumbnailers-18.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>c23338d7ed5d9638cb0b755db366b02e1626b49e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdf-18.12.2.tar.xz">kdf-18.12.2</a></td>
   <td align="right">543kB</td>
   <td><tt>c11318f2ce9e7d7f8538b340336b51590bf081c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdialog-18.12.2.tar.xz">kdialog-18.12.2</a></td>
   <td align="right">95kB</td>
   <td><tt>ce2b9d9cb1655213ca45818d8c56c3534164a3ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kdiamond-18.12.2.tar.xz">kdiamond-18.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>57a462f73ea8acf5f8ed1b1a5f6f60a9cf6a63d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/keditbookmarks-18.12.2.tar.xz">keditbookmarks-18.12.2</a></td>
   <td align="right">180kB</td>
   <td><tt>671606db7c6026317fe2d0970f44b2a974e15d25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kfind-18.12.2.tar.xz">kfind-18.12.2</a></td>
   <td align="right">261kB</td>
   <td><tt>6967f9b4eeb145e2d559adb903f2e16f625895a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kfloppy-18.12.2.tar.xz">kfloppy-18.12.2</a></td>
   <td align="right">194kB</td>
   <td><tt>a13642f75b8b4beda913bc9a6b06a6473233c3ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kfourinline-18.12.2.tar.xz">kfourinline-18.12.2</a></td>
   <td align="right">621kB</td>
   <td><tt>1024f82b71e01331e0439fb0b52a09cd1480886a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kgeography-18.12.2.tar.xz">kgeography-18.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>93e470d18b14520ca6be5e5f88213f16251b2645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kget-18.12.2.tar.xz">kget-18.12.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>74d5c28b3e0d9408b19596be9917f46807e751b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kgoldrunner-18.12.2.tar.xz">kgoldrunner-18.12.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>40aeb70ae20f7844549dbcfa29fa2a603c24aa94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kgpg-18.12.2.tar.xz">kgpg-18.12.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>fbcb56b33d14e8999451aa43969321c0c348d4c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/khangman-18.12.2.tar.xz">khangman-18.12.2</a></td>
   <td align="right">6.7MB</td>
   <td><tt>d77d49340cb45640918567b657885c8792cf8cb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/khelpcenter-18.12.2.tar.xz">khelpcenter-18.12.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>08319dfc7f6bc8dc4aa27a7870580341bc73559f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kidentitymanagement-18.12.2.tar.xz">kidentitymanagement-18.12.2</a></td>
   <td align="right">145kB</td>
   <td><tt>d8c6cf782211c15f3b7d96fc5d0ee5712777f01e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kig-18.12.2.tar.xz">kig-18.12.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>e6fdd3d5be677c6f901fd8751b02b53972ec0174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kigo-18.12.2.tar.xz">kigo-18.12.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>02c3583dc6274d32c547de4b05379d9d383c6d18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/killbots-18.12.2.tar.xz">killbots-18.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ec8cca10925b3b1638e8d1da123d8c1e92261029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kimagemapeditor-18.12.2.tar.xz">kimagemapeditor-18.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4336a2093a32c036d81336d7f62bc3fd86f0c672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kimap-18.12.2.tar.xz">kimap-18.12.2</a></td>
   <td align="right">116kB</td>
   <td><tt>85224d869c23bc503c0bcf200af7337898eb5683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kio-extras-18.12.2.tar.xz">kio-extras-18.12.2</a></td>
   <td align="right">548kB</td>
   <td><tt>2382726d4d421bffce3f0c94b0d00cdbd35f8f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kirigami-gallery-18.12.2.tar.xz">kirigami-gallery-18.12.2</a></td>
   <td align="right">259kB</td>
   <td><tt>69ea06a438eaf72907babf2fc6457e84f158c425</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kiriki-18.12.2.tar.xz">kiriki-18.12.2</a></td>
   <td align="right">363kB</td>
   <td><tt>26d11df9cc1ddaca1388f26175262e16f09ec457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kiten-18.12.2.tar.xz">kiten-18.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>cf5eefbd231a5e60cbb528e58ea5880b502c8c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kitinerary-18.12.2.tar.xz">kitinerary-18.12.2</a></td>
   <td align="right">638kB</td>
   <td><tt>d199526ce047f4ae76e729d5144ef9792be9a021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kjumpingcube-18.12.2.tar.xz">kjumpingcube-18.12.2</a></td>
   <td align="right">279kB</td>
   <td><tt>915932e7c1cee308f2faba83a4ab4956f275b0ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kldap-18.12.2.tar.xz">kldap-18.12.2</a></td>
   <td align="right">151kB</td>
   <td><tt>24f52ea89c7a207b78c84606aa47db412915d942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kleopatra-18.12.2.tar.xz">kleopatra-18.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>75f819bf3133a4020bd03f237f7ee9019ab63a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/klettres-18.12.2.tar.xz">klettres-18.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>8803a750c6c81aa44f8f90746a697e5ec0fdc10f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/klickety-18.12.2.tar.xz">klickety-18.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2fb972e88c43dab708c610862b9a5b044383cd23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/klines-18.12.2.tar.xz">klines-18.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d9fd63f6575c6816bfbb9e6ea61b600fe96d7a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmag-18.12.2.tar.xz">kmag-18.12.2</a></td>
   <td align="right">614kB</td>
   <td><tt>ed419b50982118d807b7e1998d17ce7efdc6d85d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmahjongg-18.12.2.tar.xz">kmahjongg-18.12.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>1d788e7fb6e3461012a0f5a3b169c2122c87240a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmail-18.12.2.tar.xz">kmail-18.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>62a5e599d5a48ac7f51e0802272655e94b703037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmail-account-wizard-18.12.2.tar.xz">kmail-account-wizard-18.12.2</a></td>
   <td align="right">152kB</td>
   <td><tt>a2dcec030e0ca5468a80b7b29f8f1035e7f3106b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmailtransport-18.12.2.tar.xz">kmailtransport-18.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>1db1a61346b42db57f9fbbaa6aa57c4ea99970ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmbox-18.12.2.tar.xz">kmbox-18.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>7c0de74c310dd3328a93cfe65964c52ed775383d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmime-18.12.2.tar.xz">kmime-18.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>b4c0153a347fa0255f8184cd3142fc0b73e6f8b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmines-18.12.2.tar.xz">kmines-18.12.2</a></td>
   <td align="right">880kB</td>
   <td><tt>f54d8e17b77e75014a89d28e48abb5e1b585b4e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmix-18.12.2.tar.xz">kmix-18.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>177be4e36a3d5fd439f3046e371856fdd9db221c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmousetool-18.12.2.tar.xz">kmousetool-18.12.2</a></td>
   <td align="right">110kB</td>
   <td><tt>2ea482d07522b6a7d5c9aa587d701ce8e216bc55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmouth-18.12.2.tar.xz">kmouth-18.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>3313139750ebd212fb5708ddc748f24031920432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kmplot-18.12.2.tar.xz">kmplot-18.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c79937ec0962cb888f3237f97ba7b9c2bfeec09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/knavalbattle-18.12.2.tar.xz">knavalbattle-18.12.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>6379f5eb901cbf1319ee43900748798727163a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/knetwalk-18.12.2.tar.xz">knetwalk-18.12.2</a></td>
   <td align="right">1012kB</td>
   <td><tt>9fd86fdefb6875dbea79dc40cb14c19c4758c621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/knights-18.12.2.tar.xz">knights-18.12.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>92de0d602aacfb262a963206db67b082796a003d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/knotes-18.12.2.tar.xz">knotes-18.12.2</a></td>
   <td align="right">312kB</td>
   <td><tt>415cace017b0520fc881e30e26bc301ad558096d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kolf-18.12.2.tar.xz">kolf-18.12.2</a></td>
   <td align="right">903kB</td>
   <td><tt>c82dcf77e60a55b09e1777190217de489045c1d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kollision-18.12.2.tar.xz">kollision-18.12.2</a></td>
   <td align="right">274kB</td>
   <td><tt>5094a4218b9bd2841b6f36f9e72534980a591792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kolourpaint-18.12.2.tar.xz">kolourpaint-18.12.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>85ab341800bec2b69836e133cf696932751a83d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kompare-18.12.2.tar.xz">kompare-18.12.2</a></td>
   <td align="right">783kB</td>
   <td><tt>df0d2314c35a792c2ba4b702c3cd766cc4debc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/konqueror-18.12.2.tar.xz">konqueror-18.12.2</a></td>
   <td align="right">7.3MB</td>
   <td><tt>ad0ef00dccdca6ebc11f877196e834c5ec36a848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/konquest-18.12.2.tar.xz">konquest-18.12.2</a></td>
   <td align="right">643kB</td>
   <td><tt>80fa1057cabf9cf1a3482626003fbfc8c51c19c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/konsole-18.12.2.tar.xz">konsole-18.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>36f55becbb6898a9b9ceaea3c98e29296b709297</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kontact-18.12.2.tar.xz">kontact-18.12.2</a></td>
   <td align="right">774kB</td>
   <td><tt>1407f18fff036949a351e611e5f36c84d1035dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kontactinterface-18.12.2.tar.xz">kontactinterface-18.12.2</a></td>
   <td align="right">32kB</td>
   <td><tt>83142d99f9b51f1364018e0743bc91a7502c9058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kopete-18.12.2.tar.xz">kopete-18.12.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>c87fa11defe24a2b696090a53627b299b6a2282f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/korganizer-18.12.2.tar.xz">korganizer-18.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9f073c4895a397a29823e727e904e52aa3cc1bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kpat-18.12.2.tar.xz">kpat-18.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>af3909db2a28b7b1a6e7eb24f25acfcf47e93f96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kpimtextedit-18.12.2.tar.xz">kpimtextedit-18.12.2</a></td>
   <td align="right">139kB</td>
   <td><tt>303fad66279418d8e835e12152d2c0dfe702f58c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kpkpass-18.12.2.tar.xz">kpkpass-18.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>44f09b17efc959e8cc5d34750b924959d6269110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kqtquickcharts-18.12.2.tar.xz">kqtquickcharts-18.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>0c0c0410b18e90775458f3c7a9ac54a0ab22bee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/krdc-18.12.2.tar.xz">krdc-18.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4d9952ff524a33e999296a1f3bbc603c5a2e3e98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kreversi-18.12.2.tar.xz">kreversi-18.12.2</a></td>
   <td align="right">921kB</td>
   <td><tt>faee0deae7ff5598d4e3922c51e3c631a75395f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/krfb-18.12.2.tar.xz">krfb-18.12.2</a></td>
   <td align="right">910kB</td>
   <td><tt>1711d3c73fb52026178310766d35275b1b1cf6a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kross-interpreters-18.12.2.tar.xz">kross-interpreters-18.12.2</a></td>
   <td align="right">141kB</td>
   <td><tt>8ab46410bf34a3f83baf624513e469cd56154372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kruler-18.12.2.tar.xz">kruler-18.12.2</a></td>
   <td align="right">278kB</td>
   <td><tt>bb955abd695dd8ff85c37e19f0ebb17443db63d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kshisen-18.12.2.tar.xz">kshisen-18.12.2</a></td>
   <td align="right">801kB</td>
   <td><tt>f627e2d71556968c8e507f387edd0b695fcbd6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ksirk-18.12.2.tar.xz">ksirk-18.12.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>2a2bf76bc378af1ce0a5f4217f0a4630e9688f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ksmtp-18.12.2.tar.xz">ksmtp-18.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>676d47fa784bb893af091d46413ce760d3009955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ksnakeduel-18.12.2.tar.xz">ksnakeduel-18.12.2</a></td>
   <td align="right">590kB</td>
   <td><tt>b233385fbc07cc33578864264fa73d567b7c9a97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kspaceduel-18.12.2.tar.xz">kspaceduel-18.12.2</a></td>
   <td align="right">596kB</td>
   <td><tt>b9f757ec99ccb186d5b6993c850d398d13295bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ksquares-18.12.2.tar.xz">ksquares-18.12.2</a></td>
   <td align="right">253kB</td>
   <td><tt>187b5dab4694d5337facc2dbe0261d6510ecd7e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ksudoku-18.12.2.tar.xz">ksudoku-18.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>1f6e5186c7bedc0f930ad79a693da145c1c1c439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ksystemlog-18.12.2.tar.xz">ksystemlog-18.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>15d494bd812846934d68af017382bdfcf5ad9b72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kteatime-18.12.2.tar.xz">kteatime-18.12.2</a></td>
   <td align="right">291kB</td>
   <td><tt>73e05f7fa4c105e34f391e5a5127ac3c57625216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktimer-18.12.2.tar.xz">ktimer-18.12.2</a></td>
   <td align="right">367kB</td>
   <td><tt>cb90726c1782ed479f7e429d8b7444405c8e6b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktnef-18.12.2.tar.xz">ktnef-18.12.2</a></td>
   <td align="right">292kB</td>
   <td><tt>9724f37e065fe093261b2038307c1bc62c1eec74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktouch-18.12.2.tar.xz">ktouch-18.12.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>b92e1f18cfc2474da897c3cdedf1a13a92f01bfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-accounts-kcm-18.12.2.tar.xz">ktp-accounts-kcm-18.12.2</a></td>
   <td align="right">255kB</td>
   <td><tt>2bb5f0704029ac27df6c7f3138f28e9a272d077a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-approver-18.12.2.tar.xz">ktp-approver-18.12.2</a></td>
   <td align="right">35kB</td>
   <td><tt>ce4abd9e99fc858ec2ffa05b6cabfcda80fec94e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-auth-handler-18.12.2.tar.xz">ktp-auth-handler-18.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>e5a4531bfbc97138cf218a44100e2fcbdad33a7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-call-ui-18.12.2.tar.xz">ktp-call-ui-18.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>279c53c9e5be632d1592fcba4c868edb424d590d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-common-internals-18.12.2.tar.xz">ktp-common-internals-18.12.2</a></td>
   <td align="right">430kB</td>
   <td><tt>53278f28bcbcafda4439101e011f78618ac28195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-contact-list-18.12.2.tar.xz">ktp-contact-list-18.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>d3ac3d0eedc68534332fcbab3cc072413fe51b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-contact-runner-18.12.2.tar.xz">ktp-contact-runner-18.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>ea4a3d3ed3bf470e39a19063ad8b03915a6d6273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-desktop-applets-18.12.2.tar.xz">ktp-desktop-applets-18.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>f870ce67335f4a3d84e61d598890eaaf7ae23bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-filetransfer-handler-18.12.2.tar.xz">ktp-filetransfer-handler-18.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>26d5484bc41dfa5d33acf7e63621dbeff3d44646</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-kded-module-18.12.2.tar.xz">ktp-kded-module-18.12.2</a></td>
   <td align="right">92kB</td>
   <td><tt>fb218089dcbc258b0216a96a5c154b2d524aa048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-send-file-18.12.2.tar.xz">ktp-send-file-18.12.2</a></td>
   <td align="right">27kB</td>
   <td><tt>fae52f4ae3668329af707ed1da595141d4a4ee7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktp-text-ui-18.12.2.tar.xz">ktp-text-ui-18.12.2</a></td>
   <td align="right">455kB</td>
   <td><tt>1d94eb0e20ef5a3a298d8786d384ca43b9f48c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/ktuberling-18.12.2.tar.xz">ktuberling-18.12.2</a></td>
   <td align="right">31MB</td>
   <td><tt>5be174faec1d559969a2e9634b408d8dbe9820be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kturtle-18.12.2.tar.xz">kturtle-18.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e803d1701ad5fef1257b30acd06442108601356d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kubrick-18.12.2.tar.xz">kubrick-18.12.2</a></td>
   <td align="right">304kB</td>
   <td><tt>183249e59b5bb1a4ce2e49c98b9599854abe928b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kwalletmanager-18.12.2.tar.xz">kwalletmanager-18.12.2</a></td>
   <td align="right">767kB</td>
   <td><tt>d0c4132d4051e51fa78c41fece5c2e8f0fbea196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kwave-18.12.2.tar.xz">kwave-18.12.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>6fbee028f1da3063678d1e662ed18e0dd1de9039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/kwordquiz-18.12.2.tar.xz">kwordquiz-18.12.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>e5f38245839d3977423e0dcc99880a7f644fb776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libgravatar-18.12.2.tar.xz">libgravatar-18.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>74fa0090c858cc9adc89e36ae9daebf54c17ff7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkcddb-18.12.2.tar.xz">libkcddb-18.12.2</a></td>
   <td align="right">416kB</td>
   <td><tt>d4e6deada3bc6544dc85ea8af2b547dbbabefd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkcompactdisc-18.12.2.tar.xz">libkcompactdisc-18.12.2</a></td>
   <td align="right">86kB</td>
   <td><tt>b3ebb8ef687136972425da71d8b9f8bf047262f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkdcraw-18.12.2.tar.xz">libkdcraw-18.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>3c1498fd6c69a2f876730451ebebfdeb8c11c334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkdegames-18.12.2.tar.xz">libkdegames-18.12.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>b27d45ed7c5b64d39445d50648788f580532f68f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkdepim-18.12.2.tar.xz">libkdepim-18.12.2</a></td>
   <td align="right">328kB</td>
   <td><tt>28ae213a7648015d12a6f4a0b93f19d1bf7f82ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkeduvocdocument-18.12.2.tar.xz">libkeduvocdocument-18.12.2</a></td>
   <td align="right">202kB</td>
   <td><tt>3b1e783147daa7383e97c0c985192bcfe8a0d31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkexiv2-18.12.2.tar.xz">libkexiv2-18.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>5b8ea6ef2fa0ae19fd2c656ac55fdda63cfeb76d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkgapi-18.12.2.tar.xz">libkgapi-18.12.2</a></td>
   <td align="right">210kB</td>
   <td><tt>cd079b551b8e69f03d87265a36dcebdb39c76d33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkgeomap-18.12.2.tar.xz">libkgeomap-18.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>c574693139f46b9bbeb309775668c92802d14152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkipi-18.12.2.tar.xz">libkipi-18.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>49a1eaaff179a0bff3d90595e1524dbfb9367f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkleo-18.12.2.tar.xz">libkleo-18.12.2</a></td>
   <td align="right">325kB</td>
   <td><tt>5351b853c818001512f77daa0c8369ed875a2c13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkmahjongg-18.12.2.tar.xz">libkmahjongg-18.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e9722ac7a4f66bfb64a754ac4ea1d16cb22cb2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libkomparediff2-18.12.2.tar.xz">libkomparediff2-18.12.2</a></td>
   <td align="right">169kB</td>
   <td><tt>3c718c7d656c386c90bbc27679624443ed064072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libksane-18.12.2.tar.xz">libksane-18.12.2</a></td>
   <td align="right">134kB</td>
   <td><tt>6cfc05233864afbde0a640307e12a8a9af1e9b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/libksieve-18.12.2.tar.xz">libksieve-18.12.2</a></td>
   <td align="right">537kB</td>
   <td><tt>1591c1549240aad32e445d3f11224e2e76652390</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/lokalize-18.12.2.tar.xz">lokalize-18.12.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a0453162461cf26a20c3b101070798eaf825cf1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/lskat-18.12.2.tar.xz">lskat-18.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>35f920f65146c7fa8993a7c375d7163f6fa71a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/mailcommon-18.12.2.tar.xz">mailcommon-18.12.2</a></td>
   <td align="right">676kB</td>
   <td><tt>d92c653b8860cd3d90d195c537f122190c17cf28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/mailimporter-18.12.2.tar.xz">mailimporter-18.12.2</a></td>
   <td align="right">527kB</td>
   <td><tt>6261467013fb7b2e5443548264ba2193e667e117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/marble-18.12.2.tar.xz">marble-18.12.2</a></td>
   <td align="right">49MB</td>
   <td><tt>c1d7e7f85b8e211df19143a3256db9e6b807d416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/mbox-importer-18.12.2.tar.xz">mbox-importer-18.12.2</a></td>
   <td align="right">32kB</td>
   <td><tt>b55dd63e0b0a7ec39f12907812f5bf86fa067cbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/messagelib-18.12.2.tar.xz">messagelib-18.12.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>ee73b3cedf0f839864e1581f3b822e4502788aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/minuet-18.12.2.tar.xz">minuet-18.12.2</a></td>
   <td align="right">26MB</td>
   <td><tt>ddc4348731c947165aa5f40ccdd612c14743051b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/okular-18.12.2.tar.xz">okular-18.12.2</a></td>
   <td align="right">6.2MB</td>
   <td><tt>3662a59ddc115604bd86e221f859856ae34bb235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/palapeli-18.12.2.tar.xz">palapeli-18.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>e88e1d136d05fa85a0aeb4dbab24ee1120c9bce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/parley-18.12.2.tar.xz">parley-18.12.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>d51b05a6c94e1e8d276adb0dd2c6c328dfd06e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/picmi-18.12.2.tar.xz">picmi-18.12.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f667c689ad2ac2013a1287628611bbd8240a06d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/pimcommon-18.12.2.tar.xz">pimcommon-18.12.2</a></td>
   <td align="right">288kB</td>
   <td><tt>d46bdd40402dbc90f710f94845ec55725ffb23d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/pim-data-exporter-18.12.2.tar.xz">pim-data-exporter-18.12.2</a></td>
   <td align="right">264kB</td>
   <td><tt>f30d1991bbef9a826e20d2b223646450b5f304d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/pim-sieve-editor-18.12.2.tar.xz">pim-sieve-editor-18.12.2</a></td>
   <td align="right">440kB</td>
   <td><tt>6b9b7d5f33b546e9e8c6836841be17dcd2adacb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/poxml-18.12.2.tar.xz">poxml-18.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>1a3fcae8c9cf8e0843e64a58e9ed3e78d256d82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/print-manager-18.12.2.tar.xz">print-manager-18.12.2</a></td>
   <td align="right">233kB</td>
   <td><tt>871c47391dccca1338cb550d48052637ba0c0cd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/rocs-18.12.2.tar.xz">rocs-18.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8c1e7efccf435ebd18a61c0a0b1e7e0bfde92b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/signon-kwallet-extension-18.12.2.tar.xz">signon-kwallet-extension-18.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>543368e0017e01a38ae357ac072ae743bebce594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/spectacle-18.12.2.tar.xz">spectacle-18.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>840f86507ebe76054caa252ba406f14bab6c432c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/step-18.12.2.tar.xz">step-18.12.2</a></td>
   <td align="right">840kB</td>
   <td><tt>562a6c07c71eaaacb982d6062c07b732ae7e5462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/svgpart-18.12.2.tar.xz">svgpart-18.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>268397871aef8c018a95a52e4397098466ec6141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/sweeper-18.12.2.tar.xz">sweeper-18.12.2</a></td>
   <td align="right">359kB</td>
   <td><tt>3260d5bb52cd223841b970b4e92ebaf14f367f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/umbrello-18.12.2.tar.xz">umbrello-18.12.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>82fb017ce7914f5004370bc0b9d2943a470b3a86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/18.12.2/src/zeroconf-ioslave-18.12.2.tar.xz">zeroconf-ioslave-18.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>75bfb11eefe3346ebc9d00fc7cda198dfc9f29db</tt></td>
</tr>

</table>
