<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/analitza-4.10.0.tar.xz">analitza-4.10.0</a></td>
   <td align="right">169kB</td>
   <td><tt>d4b5b1db869594768b1c685e64d9cab5c3229a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ark-4.10.0.tar.xz">ark-4.10.0</a></td>
   <td align="right">228kB</td>
   <td><tt>b4f4aaa7dc38ccd515066065ba2b9313d981cfc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/audiocd-kio-4.10.0.tar.xz">audiocd-kio-4.10.0</a></td>
   <td align="right">53kB</td>
   <td><tt>eac83c813e4176ee4e7ea967aa640f2f9b727b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/blinken-4.10.0.tar.xz">blinken-4.10.0</a></td>
   <td align="right">551kB</td>
   <td><tt>acb82e55a84f4205f388f782b4bb7593263ca614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/bomber-4.10.0.tar.xz">bomber-4.10.0</a></td>
   <td align="right">380kB</td>
   <td><tt>d9aaba9642c7e18977aa02805e9a418d2d806c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/bovo-4.10.0.tar.xz">bovo-4.10.0</a></td>
   <td align="right">105kB</td>
   <td><tt>34320de58e63537bc021ca1ad5280593f2cd1482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/cantor-4.10.0.tar.xz">cantor-4.10.0</a></td>
   <td align="right">301kB</td>
   <td><tt>6132287443ffc9e99d9ff738582e81ea2fe22b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/dragon-4.10.0.tar.xz">dragon-4.10.0</a></td>
   <td align="right">383kB</td>
   <td><tt>15052cadb7614ec6396cbfe36a2cd710f4ac6ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ffmpegthumbs-4.10.0.tar.xz">ffmpegthumbs-4.10.0</a></td>
   <td align="right">19kB</td>
   <td><tt>7ce2edec3efd081bb65f58455c7db476e09d8bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/filelight-4.10.0.tar.xz">filelight-4.10.0</a></td>
   <td align="right">281kB</td>
   <td><tt>c2cec34c1de2dd3aacbbf88a8b04ff4fcca7de5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/granatier-4.10.0.tar.xz">granatier-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>38c644961b479e34d837648c3dc6c5f8e890d9b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/gwenview-4.10.0.tar.xz">gwenview-4.10.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bdd429ead26780a27fd4b0b1132ad1f82ffc153e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/jovie-4.10.0.tar.xz">jovie-4.10.0</a></td>
   <td align="right">357kB</td>
   <td><tt>2a233f871ef51037d086ace9d9c4beea35aa2d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/juk-4.10.0.tar.xz">juk-4.10.0</a></td>
   <td align="right">430kB</td>
   <td><tt>6282aab725db4165ec93e48db8c1f0efd7df0add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kaccessible-4.10.0.tar.xz">kaccessible-4.10.0</a></td>
   <td align="right">19kB</td>
   <td><tt>8c571b52cb2c369511fb1583d7638b7373dee94a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kactivities-4.10.0.tar.xz">kactivities-4.10.0</a></td>
   <td align="right">99kB</td>
   <td><tt>4d788f21019cbbe0c27ab3eef51a75125d9966b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kajongg-4.10.0.tar.xz">kajongg-4.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c0383ee5b296a8d00c87ccd8e504d4600caee6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kalgebra-4.10.0.tar.xz">kalgebra-4.10.0</a></td>
   <td align="right">431kB</td>
   <td><tt>ce15669276e49c5385f53fae0a4a41bc22b5c1f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kalzium-4.10.0.tar.xz">kalzium-4.10.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>5723203d9b8c8369b3e78494bf2cbbaa17faee58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kamera-4.10.0.tar.xz">kamera-4.10.0</a></td>
   <td align="right">35kB</td>
   <td><tt>70f1f2d3497ad7f14aff53a26a842e2ce11279de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kanagram-4.10.0.tar.xz">kanagram-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7794c54b370c605f9a96fb2faea87dc674fc364e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kapman-4.10.0.tar.xz">kapman-4.10.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>cece24fa54d36497cdd43f627588a0c5110599fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kate-4.10.0.tar.xz">kate-4.10.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>9754f1acd55278d529c4e7a5a778b5cec51e73b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/katomic-4.10.0.tar.xz">katomic-4.10.0</a></td>
   <td align="right">648kB</td>
   <td><tt>4f34335251331f0abcdc801400f4fb821fcb9a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kblackbox-4.10.0.tar.xz">kblackbox-4.10.0</a></td>
   <td align="right">102kB</td>
   <td><tt>5babfbd66211655da8a45155fd136451a6d782ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kblocks-4.10.0.tar.xz">kblocks-4.10.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>969e5de340ed2052b42bf1e0b8a5da3dce41f3da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kbounce-4.10.0.tar.xz">kbounce-4.10.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e59c9386f3a8accf2f58b223ec45fe52e92e2871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kbreakout-4.10.0.tar.xz">kbreakout-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>caea3b85d3583dbebe403d5b5dccd0ad626ff39c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kbruch-4.10.0.tar.xz">kbruch-4.10.0</a></td>
   <td align="right">883kB</td>
   <td><tt>b8a0d164cdfbf227e164eeaae57bb7adfcc06929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kcalc-4.10.0.tar.xz">kcalc-4.10.0</a></td>
   <td align="right">88kB</td>
   <td><tt>b898128f942c3890e8fb182d0833cd58d5f036da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kcharselect-4.10.0.tar.xz">kcharselect-4.10.0</a></td>
   <td align="right">83kB</td>
   <td><tt>86e5543dcb2f217ce66d5629daf4e91ec134b0e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kcolorchooser-4.10.0.tar.xz">kcolorchooser-4.10.0</a></td>
   <td align="right">4kB</td>
   <td><tt>ccfdcae91def40db6bd03662dda1cd5e38fcf4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdeadmin-4.10.0.tar.xz">kdeadmin-4.10.0</a></td>
   <td align="right">649kB</td>
   <td><tt>d6f66f9a5d6a42b80e130654a62dfe61ce82dd94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdeartwork-4.10.0.tar.xz">kdeartwork-4.10.0</a></td>
   <td align="right">136MB</td>
   <td><tt>7ec00b2108eb0207653ebe3c95c67503a20b1967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-baseapps-4.10.0.tar.xz">kde-baseapps-4.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5b0127bd946286f52d98a1779eabf65e416a66c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-base-artwork-4.10.0.tar.xz">kde-base-artwork-4.10.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>45c5f86445704d4bc7d8f6922eb621ce3bfff5e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdegraphics-mobipocket-4.10.0.tar.xz">kdegraphics-mobipocket-4.10.0</a></td>
   <td align="right">18kB</td>
   <td><tt>a4e0e9519d0af2a38e96560f7023c36d1a1169ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdegraphics-strigi-analyzer-4.10.0.tar.xz">kdegraphics-strigi-analyzer-4.10.0</a></td>
   <td align="right">38kB</td>
   <td><tt>b83e278a1ceae6f75f9be20214c04fb0d3fb2bd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdegraphics-thumbnailers-4.10.0.tar.xz">kdegraphics-thumbnailers-4.10.0</a></td>
   <td align="right">40kB</td>
   <td><tt>6bce25bfdff1376b79c8024ac1ed87acf33235df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdelibs-4.10.0.tar.xz">kdelibs-4.10.0</a></td>
   <td align="right">11MB</td>
   <td><tt>093bfd214511bae7fda88242413c6ed4ff0b18f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdenetwork-4.10.0.tar.xz">kdenetwork-4.10.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>974bd9aea71a583563667e7cdc4749fe9d5bd82e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdepim-4.10.0.tar.xz">kdepim-4.10.0</a></td>
   <td align="right">13MB</td>
   <td><tt>6074fcea53b10c3660c5cc9a00b65e777840fdc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdepimlibs-4.10.0.tar.xz">kdepimlibs-4.10.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>cf51d06ffd49de44312d5fae52b6fb7fb044459f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdepim-runtime-4.10.0.tar.xz">kdepim-runtime-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6cfa320c03dce508d9982767c9718c98606f301f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdeplasma-addons-4.10.0.tar.xz">kdeplasma-addons-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>665e7126813c9a900e6c6d5f379175f98969d7a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-runtime-4.10.0.tar.xz">kde-runtime-4.10.0</a></td>
   <td align="right">6.7MB</td>
   <td><tt>eff82d54383ece321dc93bdfb494c0a9abcbb998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdesdk-4.10.0.tar.xz">kdesdk-4.10.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>e4aaaf5357ecb3dfc87014abb01af807731557df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdetoys-4.10.0.tar.xz">kdetoys-4.10.0</a></td>
   <td align="right">365kB</td>
   <td><tt>bc795b4b5bd4ea3ea362f9684f0236bed172abd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-wallpapers-4.10.0.tar.xz">kde-wallpapers-4.10.0</a></td>
   <td align="right">86MB</td>
   <td><tt>8fd391c7f03b4379c38d72808d652cbf0d508468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdewebdev-4.10.0.tar.xz">kdewebdev-4.10.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0dc717ad88762d0cd68a92683d47a6055d5c2538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-workspace-4.10.0.tar.xz">kde-workspace-4.10.0</a></td>
   <td align="right">12MB</td>
   <td><tt>dca9aae963c2db95ef69c13f751c2cb22dbf2200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdf-4.10.0.tar.xz">kdf-4.10.0</a></td>
   <td align="right">151kB</td>
   <td><tt>b90e73fb7f17797cedd3b7c1915f1c8a1423eeb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kdiamond-4.10.0.tar.xz">kdiamond-4.10.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>4c587c26e547ad8ace040df5d6f4208aa1116cb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kfloppy-4.10.0.tar.xz">kfloppy-4.10.0</a></td>
   <td align="right">58kB</td>
   <td><tt>5aa1d135c53cf8fa5a9498f48c3e426855336af4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kfourinline-4.10.0.tar.xz">kfourinline-4.10.0</a></td>
   <td align="right">263kB</td>
   <td><tt>147afa6ebe5df5d93d6564aeec0ddfd54d894797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kgamma-4.10.0.tar.xz">kgamma-4.10.0</a></td>
   <td align="right">25kB</td>
   <td><tt>203b06bbbfebfa559808ff7652fa4b0ecd69e914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kgeography-4.10.0.tar.xz">kgeography-4.10.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>1674ee6238593ab2a8bdc11e19ebe0e5a007e978</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kgoldrunner-4.10.0.tar.xz">kgoldrunner-4.10.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>87ba1974279e7785beeeaeb776e3d12d1ee5abdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kgpg-4.10.0.tar.xz">kgpg-4.10.0</a></td>
   <td align="right">790kB</td>
   <td><tt>aee248358d9ba4aa2676dd7ff910205b37ea92b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/khangman-4.10.0.tar.xz">khangman-4.10.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>fc7286ccc2a70a4c6fb3e28417007ffc966e16a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kig-4.10.0.tar.xz">kig-4.10.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>42504e6358f5d1f7685c8d2663efa5bce5464b93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kigo-4.10.0.tar.xz">kigo-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0dcee4587b9c57847bf8c2c7e0d2450c386aa969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/killbots-4.10.0.tar.xz">killbots-4.10.0</a></td>
   <td align="right">949kB</td>
   <td><tt>0fe272b75230c2a12b05275166fe0d3e50491e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kimono-4.10.0.tar.xz">kimono-4.10.0</a></td>
   <td align="right">910kB</td>
   <td><tt>1022ce1dad2cc1154a22dc111a687551478c2468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kiriki-4.10.0.tar.xz">kiriki-4.10.0</a></td>
   <td align="right">121kB</td>
   <td><tt>57b17dccf458a7260732c8d1c3724451a104fdf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kiten-4.10.0.tar.xz">kiten-4.10.0</a></td>
   <td align="right">11MB</td>
   <td><tt>269d08e841d0697ddda8b310e90c059aa8d85201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kjumpingcube-4.10.0.tar.xz">kjumpingcube-4.10.0</a></td>
   <td align="right">99kB</td>
   <td><tt>1f42e117175b75ae994ea5141ec52a4f2516bdce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/klettres-4.10.0.tar.xz">klettres-4.10.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>22cd76e4808925225855d0f9d1b80e2b60eb02a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/klickety-4.10.0.tar.xz">klickety-4.10.0</a></td>
   <td align="right">831kB</td>
   <td><tt>28d7e93f5b93f898f0364b86406adafa52f46891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/klines-4.10.0.tar.xz">klines-4.10.0</a></td>
   <td align="right">933kB</td>
   <td><tt>0886b2c788725034f4b8367a6f5db16344a87159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmag-4.10.0.tar.xz">kmag-4.10.0</a></td>
   <td align="right">89kB</td>
   <td><tt>5adef3bdec46245e31093046b3375561cd9abacd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmahjongg-4.10.0.tar.xz">kmahjongg-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9a2532fac72ccac404379e02c2a5d0e649fc04fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmines-4.10.0.tar.xz">kmines-4.10.0</a></td>
   <td align="right">642kB</td>
   <td><tt>59eeead2673b8ac6dfd0e7aab22bc27206a9d12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmix-4.10.0.tar.xz">kmix-4.10.0</a></td>
   <td align="right">371kB</td>
   <td><tt>ac67042a7411aea76a35c0ea07603fa1e3242c5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmousetool-4.10.0.tar.xz">kmousetool-4.10.0</a></td>
   <td align="right">41kB</td>
   <td><tt>562703967fe7c66eeb9545c62d2e997003456287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmouth-4.10.0.tar.xz">kmouth-4.10.0</a></td>
   <td align="right">310kB</td>
   <td><tt>6c4724df688578169788775d105197c3f7eaf701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kmplot-4.10.0.tar.xz">kmplot-4.10.0</a></td>
   <td align="right">660kB</td>
   <td><tt>2e4641e4f368965d3d63b682c237d879609704d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/knavalbattle-4.10.0.tar.xz">knavalbattle-4.10.0</a></td>
   <td align="right">834kB</td>
   <td><tt>a52486a7f3109633ce340981c6c1706312b69606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/knetwalk-4.10.0.tar.xz">knetwalk-4.10.0</a></td>
   <td align="right">770kB</td>
   <td><tt>bb6587f4f008c1bfcfed728f7d0e48de031a49e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kolf-4.10.0.tar.xz">kolf-4.10.0</a></td>
   <td align="right">755kB</td>
   <td><tt>d91e64df3397b76940603963e32ff44357e67d4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kollision-4.10.0.tar.xz">kollision-4.10.0</a></td>
   <td align="right">207kB</td>
   <td><tt>edaa3f7bc9b15982e2aae6b7e97ce05dcf70fea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kolourpaint-4.10.0.tar.xz">kolourpaint-4.10.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0204f884a8047eb57cb8dc212438d6faf9e9802b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/konquest-4.10.0.tar.xz">konquest-4.10.0</a></td>
   <td align="right">405kB</td>
   <td><tt>b09b6cdb70a5a9b423215679c4db044768f4338a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/konsole-4.10.0.tar.xz">konsole-4.10.0</a></td>
   <td align="right">426kB</td>
   <td><tt>9e4fdfe34a896dc80c1c1fd3f1e790e8c435c56f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/korundum-4.10.0.tar.xz">korundum-4.10.0</a></td>
   <td align="right">156kB</td>
   <td><tt>c8257b61c546df77c98d83ce32759359118d7c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kpat-4.10.0.tar.xz">kpat-4.10.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a77aed1c84363e76fc8aab49125b62f4b0d657b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kremotecontrol-4.10.0.tar.xz">kremotecontrol-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ceb8c1f4d86e705c469aa82b259d961e43cf4fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kreversi-4.10.0.tar.xz">kreversi-4.10.0</a></td>
   <td align="right">387kB</td>
   <td><tt>0bb2b856a1097289a69cd01d33e4208a54c62e1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kross-interpreters-4.10.0.tar.xz">kross-interpreters-4.10.0</a></td>
   <td align="right">127kB</td>
   <td><tt>4d7a6c7e0716984c230ac684b46629cd299cec53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kruler-4.10.0.tar.xz">kruler-4.10.0</a></td>
   <td align="right">129kB</td>
   <td><tt>16e2de9bf6af8c8c43317deec6f35a1e19b0e9ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ksaneplugin-4.10.0.tar.xz">ksaneplugin-4.10.0</a></td>
   <td align="right">12kB</td>
   <td><tt>4bed9373e93333365ee250cd3a6553085fb90723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kscd-4.10.0.tar.xz">kscd-4.10.0</a></td>
   <td align="right">90kB</td>
   <td><tt>8648888c571382b4473f9fd9f9d376db14c16bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kshisen-4.10.0.tar.xz">kshisen-4.10.0</a></td>
   <td align="right">140kB</td>
   <td><tt>19a9ae4b91afb3890a207d3a5c6d139f0b5a9300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ksirk-4.10.0.tar.xz">ksirk-4.10.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>a40e6d13bbbf396335744e443ef2f6cbfa003b5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ksnakeduel-4.10.0.tar.xz">ksnakeduel-4.10.0</a></td>
   <td align="right">312kB</td>
   <td><tt>36b5dfd4df30c401fd90b174eee1d1f1910b1818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ksnapshot-4.10.0.tar.xz">ksnapshot-4.10.0</a></td>
   <td align="right">256kB</td>
   <td><tt>c2e091d8bfccf2b1594453115e7068b6a3cb6c3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kspaceduel-4.10.0.tar.xz">kspaceduel-4.10.0</a></td>
   <td align="right">254kB</td>
   <td><tt>6f0c9700aebfb2f309cc3260493db4b26563e21b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ksquares-4.10.0.tar.xz">ksquares-4.10.0</a></td>
   <td align="right">81kB</td>
   <td><tt>1a814d64694e4a435d4c08ccf0c0003e199818f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kstars-4.10.0.tar.xz">kstars-4.10.0</a></td>
   <td align="right">11MB</td>
   <td><tt>3b5542ddccf7b9a7d96649a26b0dffd1fb029046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ksudoku-4.10.0.tar.xz">ksudoku-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>07db527cbfdbaf65da1a7f2d63b51aa8055a94c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ktimer-4.10.0.tar.xz">ktimer-4.10.0</a></td>
   <td align="right">146kB</td>
   <td><tt>1d7d9299177cc7c6648fc50d6565ee4b7be1e2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ktouch-4.10.0.tar.xz">ktouch-4.10.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3a37cb717e7edc88f73c94ee4e328c79234071bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/ktuberling-4.10.0.tar.xz">ktuberling-4.10.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>82a14f5c8b4d95b02a7e430ba5340203feecdef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kturtle-4.10.0.tar.xz">kturtle-4.10.0</a></td>
   <td align="right">207kB</td>
   <td><tt>275d42b8947a038f1f1f1661177ab24ddcf512f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kubrick-4.10.0.tar.xz">kubrick-4.10.0</a></td>
   <td align="right">116kB</td>
   <td><tt>a8011960b054f6dbf43906836894b5c4a9bca3b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kwallet-4.10.0.tar.xz">kwallet-4.10.0</a></td>
   <td align="right">273kB</td>
   <td><tt>6fcebed46c29f6a39b665fa3877e833dc9a58633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kwordquiz-4.10.0.tar.xz">kwordquiz-4.10.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>3fde5dc7973e1d35b634faa892113d553d342ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkcddb-4.10.0.tar.xz">libkcddb-4.10.0</a></td>
   <td align="right">152kB</td>
   <td><tt>44bc8f69f7f98be741b0d0bb618ff9cc3601b4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkcompactdisc-4.10.0.tar.xz">libkcompactdisc-4.10.0</a></td>
   <td align="right">73kB</td>
   <td><tt>f59941162f95f1a61415491d4382f366a20a3c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkdcraw-4.10.0.tar.xz">libkdcraw-4.10.0</a></td>
   <td align="right">336kB</td>
   <td><tt>c332fcba9a06f6650cb8ce4652e91af9de3b43bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkdeedu-4.10.0.tar.xz">libkdeedu-4.10.0</a></td>
   <td align="right">204kB</td>
   <td><tt>ecee7596db004e74c9b59e5a1d31689b839b3791</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkdegames-4.10.0.tar.xz">libkdegames-4.10.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>6488769e87fe357c8b228c7d4e96ed6726955c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkexiv2-4.10.0.tar.xz">libkexiv2-4.10.0</a></td>
   <td align="right">129kB</td>
   <td><tt>7a9d00c0a25549bfe28453143ec78965a8aa6a4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkipi-4.10.0.tar.xz">libkipi-4.10.0</a></td>
   <td align="right">91kB</td>
   <td><tt>43cb9159d42f34bd0a96de934a78da5a9ce118b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libkmahjongg-4.10.0.tar.xz">libkmahjongg-4.10.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>594edd2bb1a5f3981a6361db94da84da6b35d818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/libksane-4.10.0.tar.xz">libksane-4.10.0</a></td>
   <td align="right">78kB</td>
   <td><tt>c101b028ef540b14a0041b6433f522f52622c783</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/lskat-4.10.0.tar.xz">lskat-4.10.0</a></td>
   <td align="right">934kB</td>
   <td><tt>0e8a52cd04be1debb31d80b095cb76afcd5ceb78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/marble-4.10.0.tar.xz">marble-4.10.0</a></td>
   <td align="right">18MB</td>
   <td><tt>c1db6b1785ca1ad230de6da0e67ee84bf7e3a2cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/mplayerthumbs-4.10.0.tar.xz">mplayerthumbs-4.10.0</a></td>
   <td align="right">26kB</td>
   <td><tt>baf779c57ca342cced59bd88d17d48782ab0f212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/nepomuk-core-4.10.0.tar.xz">nepomuk-core-4.10.0</a></td>
   <td align="right">348kB</td>
   <td><tt>affc4d3063db773e5b05ff746a4c64adbec29264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/nepomuk-widgets-4.10.0.tar.xz">nepomuk-widgets-4.10.0</a></td>
   <td align="right">75kB</td>
   <td><tt>8c6029bb56364c28398c516f4034c484e0ea31e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/okular-4.10.0.tar.xz">okular-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f91cca852cf8c2cc57b8fe5b2d66653efdb8d079</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/oxygen-icons-4.10.0.tar.xz">oxygen-icons-4.10.0</a></td>
   <td align="right">264MB</td>
   <td><tt>e7f9b5fd8fe0e6f6f9c0d744424134497328e65e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/pairs-4.10.0.tar.xz">pairs-4.10.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d59acdd58dc696938aca225b7ca0fd75294f769d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/palapeli-4.10.0.tar.xz">palapeli-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>da5a7b197e6a641c4882d15e85923303e2646567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/parley-4.10.0.tar.xz">parley-4.10.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>9de22027fdb57fb516a0ae63d95341361ea939db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/perlkde-4.10.0.tar.xz">perlkde-4.10.0</a></td>
   <td align="right">39kB</td>
   <td><tt>83af5b1c34e93a46395d974b82e819f2649ac5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/perlqt-4.10.0.tar.xz">perlqt-4.10.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2e7bba884c5461ae17ecdc46e294d2e00d99a3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/picmi-4.10.0.tar.xz">picmi-4.10.0</a></td>
   <td align="right">709kB</td>
   <td><tt>fddda723e0168ec52e05e7e4791164f4c5b7eb6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/print-manager-4.10.0.tar.xz">print-manager-4.10.0</a></td>
   <td align="right">86kB</td>
   <td><tt>182a514ed62baf1892be6c4b1977260ba365c634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/pykde4-4.10.0.tar.xz">pykde4-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d587d16363d2184320faf3636ac92f9b50ef5720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/qtruby-4.10.0.tar.xz">qtruby-4.10.0</a></td>
   <td align="right">517kB</td>
   <td><tt>0a6a8617d34153d87d59a610e38e870f41e4ea25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/qyoto-4.10.0.tar.xz">qyoto-4.10.0</a></td>
   <td align="right">495kB</td>
   <td><tt>cbb36bd0d83fa34c9afe929913738d3acc807ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/rocs-4.10.0.tar.xz">rocs-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6e1d757518931a0ee41378a04e06cd66d51d6b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/smokegen-4.10.0.tar.xz">smokegen-4.10.0</a></td>
   <td align="right">142kB</td>
   <td><tt>435dd2e087ab527d0c81e1eb883f689a457a40c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/smokekde-4.10.0.tar.xz">smokekde-4.10.0</a></td>
   <td align="right">35kB</td>
   <td><tt>bcf9bb164a209b1c5f4870440f01809a3486c1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/smokeqt-4.10.0.tar.xz">smokeqt-4.10.0</a></td>
   <td align="right">29kB</td>
   <td><tt>68c3b9bdf1b378014268d60ec657f457d784e3ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/step-4.10.0.tar.xz">step-4.10.0</a></td>
   <td align="right">361kB</td>
   <td><tt>879c3afe9fe912447ac9c80396d242ac5bad021b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/superkaramba-4.10.0.tar.xz">superkaramba-4.10.0</a></td>
   <td align="right">374kB</td>
   <td><tt>a4555c43c0fb30ee876ffa19517e0a74ca7b9bc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/svgpart-4.10.0.tar.xz">svgpart-4.10.0</a></td>
   <td align="right">8kB</td>
   <td><tt>4354f205246a14c457bf4ea11eed8a163da09915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/sweeper-4.10.0.tar.xz">sweeper-4.10.0</a></td>
   <td align="right">81kB</td>
   <td><tt>613c3e5f4c8f1e0a64f4a35ffa58f504d1d4c4b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-af-4.10.0.tar.xz">kde-l10n-af-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b808dda1cc35163227477dd30b2cc9a279f4310e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ar-4.10.0.tar.xz">kde-l10n-ar-4.10.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3106b0a684b21c74fdf5b1e8133835a0ac2f7fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-as-4.10.0.tar.xz">kde-l10n-as-4.10.0</a></td>
   <td align="right">101kB</td>
   <td><tt>c649e7ec54b93acaeddb4c580db5cf8f9cb77f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ast-4.10.0.tar.xz">kde-l10n-ast-4.10.0</a></td>
   <td align="right">852kB</td>
   <td><tt>adac21896d056e86dd64fd546462c4f19ce54545</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-be-4.10.0.tar.xz">kde-l10n-be-4.10.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c087be19e1d50a731e0e95f87b1dad3ad010ed6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-be@latin-4.10.0.tar.xz">kde-l10n-be@latin-4.10.0</a></td>
   <td align="right">290kB</td>
   <td><tt>98d4726eee3910676361d3898343748db80fbbd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-bg-4.10.0.tar.xz">kde-l10n-bg-4.10.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8353f503ee2f31fa5fe2b02ec81d98e77640a81a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-bn-4.10.0.tar.xz">kde-l10n-bn-4.10.0</a></td>
   <td align="right">962kB</td>
   <td><tt>54a2eebaa8fdbc03a7e2aee8b4486c1ba29c4152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-bn_IN-4.10.0.tar.xz">kde-l10n-bn_IN-4.10.0</a></td>
   <td align="right">363kB</td>
   <td><tt>8b75c980f02f73d9a757fc8f155c1bd5488c379b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-br-4.10.0.tar.xz">kde-l10n-br-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8458f88275d3531f0819c0734ec5e7d464ba5b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-bs-4.10.0.tar.xz">kde-l10n-bs-4.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>648a665bb2edc73590b5a9f6e05dc09054f6b98d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ca-4.10.0.tar.xz">kde-l10n-ca-4.10.0</a></td>
   <td align="right">12MB</td>
   <td><tt>8230f67184ec95aed7faa69e1a8aae36010937e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ca@valencia-4.10.0.tar.xz">kde-l10n-ca@valencia-4.10.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3be4c039b410e133851bcc7f88d6f36ac34ddae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-crh-4.10.0.tar.xz">kde-l10n-crh-4.10.0</a></td>
   <td align="right">78kB</td>
   <td><tt>d3f751c9c368214a4365df5beded1925ce1eddb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-cs-4.10.0.tar.xz">kde-l10n-cs-4.10.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5d66a093840e6968a29c1608ba0b2959f4e54b24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-csb-4.10.0.tar.xz">kde-l10n-csb-4.10.0</a></td>
   <td align="right">540kB</td>
   <td><tt>d9be91d00dbb64caffd9149e9479015f155baf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-cy-4.10.0.tar.xz">kde-l10n-cy-4.10.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a969ec834e82a0a43e869d4ceced0c84c0390e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-da-4.10.0.tar.xz">kde-l10n-da-4.10.0</a></td>
   <td align="right">12MB</td>
   <td><tt>67858eda7ae5c5a314b760cf0ea9e966e84f3ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-de-4.10.0.tar.xz">kde-l10n-de-4.10.0</a></td>
   <td align="right">36MB</td>
   <td><tt>2bf1b435a9bbf9d03ca7960894389d3dbd6fd522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-el-4.10.0.tar.xz">kde-l10n-el-4.10.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ab1b3df3109ac7d54396c9d2e3ad264927d20a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-en_GB-4.10.0.tar.xz">kde-l10n-en_GB-4.10.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>3d4cf9ad1500b14f00869b4233e6e88533b11e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-eo-4.10.0.tar.xz">kde-l10n-eo-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7a36b2dcca14d22cf01f724bfc4259b8f99e4057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-es-4.10.0.tar.xz">kde-l10n-es-4.10.0</a></td>
   <td align="right">22MB</td>
   <td><tt>1cad03012d7173eb255452dc2bf52d3c3c8a19d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-et-4.10.0.tar.xz">kde-l10n-et-4.10.0</a></td>
   <td align="right">7.1MB</td>
   <td><tt>485786620acad537cc26cd7e57eb59a30baf461e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-eu-4.10.0.tar.xz">kde-l10n-eu-4.10.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f8e5af06152b3b73371682b4bd5cda4295faf902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-fa-4.10.0.tar.xz">kde-l10n-fa-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>53be88f834faa36254dad45976a9d4869517dc08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-fi-4.10.0.tar.xz">kde-l10n-fi-4.10.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1cc017b5eeb602a48be835c7a6bdcb42bb56ec74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-fr-4.10.0.tar.xz">kde-l10n-fr-4.10.0</a></td>
   <td align="right">42MB</td>
   <td><tt>44f40261d66a7df55505af8569a98be6f27c10f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-fy-4.10.0.tar.xz">kde-l10n-fy-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0eba99c906b6cc595a217e5750e46a090d734692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ga-4.10.0.tar.xz">kde-l10n-ga-4.10.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>a01b9056043bb7ab2d2dff35c2c8fcb7b5eac5d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-gl-4.10.0.tar.xz">kde-l10n-gl-4.10.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>a13b6cb0278fabb5bbcbbed921d9b74df1dd8859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-gu-4.10.0.tar.xz">kde-l10n-gu-4.10.0</a></td>
   <td align="right">827kB</td>
   <td><tt>ad41ab921d9d70a7602f5c46ab8125770610df5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ha-4.10.0.tar.xz">kde-l10n-ha-4.10.0</a></td>
   <td align="right">80kB</td>
   <td><tt>da17cc12f2e5c79859a41891a25ac879b550f8d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-he-4.10.0.tar.xz">kde-l10n-he-4.10.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6810cd0932d81c26290eb191267db235e3e43b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-hi-4.10.0.tar.xz">kde-l10n-hi-4.10.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dc26d3597568c05ac4964bbd2e85a2e379883f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-hne-4.10.0.tar.xz">kde-l10n-hne-4.10.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>da9b5e3b875819eb51553882a4b2dafae405afeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-hr-4.10.0.tar.xz">kde-l10n-hr-4.10.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>d1d952ccf44b2e5193864efef1699d9e66995bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-hsb-4.10.0.tar.xz">kde-l10n-hsb-4.10.0</a></td>
   <td align="right">680kB</td>
   <td><tt>491ca77711c95364e5a3d4566e7d87b70ff2f263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-hu-4.10.0.tar.xz">kde-l10n-hu-4.10.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>07c7daa116094b1a63febd49a8b8dc50d4e09a42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-hy-4.10.0.tar.xz">kde-l10n-hy-4.10.0</a></td>
   <td align="right">62kB</td>
   <td><tt>d45a57d8181317f2df0e4c9b8f0ea62cdc9230d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ia-4.10.0.tar.xz">kde-l10n-ia-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f265236374d0591f58fb4c3c91c73569e3c4fd23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-id-4.10.0.tar.xz">kde-l10n-id-4.10.0</a></td>
   <td align="right">489kB</td>
   <td><tt>147fb84d656fc993d330b6ecfa38e3be9a8ed16b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-is-4.10.0.tar.xz">kde-l10n-is-4.10.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6c85ee3cb4a048c4b3f548cc3c300d0b794f2d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-it-4.10.0.tar.xz">kde-l10n-it-4.10.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>6cf032ea3f21079e4941f4c98fa40c4463adac7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ja-4.10.0.tar.xz">kde-l10n-ja-4.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cc65c19660a50a2edba0664dcd6d102aab3d8e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ka-4.10.0.tar.xz">kde-l10n-ka-4.10.0</a></td>
   <td align="right">486kB</td>
   <td><tt>c407bca9c4bc3432fce9be9b4c898282237d899d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-kk-4.10.0.tar.xz">kde-l10n-kk-4.10.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dbbea9b1319aa308cc25bceffab9bd2cd875f4b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-km-4.10.0.tar.xz">kde-l10n-km-4.10.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>70d172a4b30f0f2ebb3f80c70c8665ceb149e0c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-kn-4.10.0.tar.xz">kde-l10n-kn-4.10.0</a></td>
   <td align="right">453kB</td>
   <td><tt>90253cefec27a41d570e1841c811c3b8c71e8689</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ko-4.10.0.tar.xz">kde-l10n-ko-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>98d92f8f9d48155ed2a60ba19b3b09aa12a41bd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ku-4.10.0.tar.xz">kde-l10n-ku-4.10.0</a></td>
   <td align="right">678kB</td>
   <td><tt>13c9851a34da977010d945668256eca56f100b43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-lb-4.10.0.tar.xz">kde-l10n-lb-4.10.0</a></td>
   <td align="right">168kB</td>
   <td><tt>9db78cbba08b23623b415c4fb91fe9bde9b81c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-lt-4.10.0.tar.xz">kde-l10n-lt-4.10.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a4bed8a088555893990d3543bfbcf29556fe5399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-lv-4.10.0.tar.xz">kde-l10n-lv-4.10.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>36c00821d4c85209457ce91b07ca9179eec2c1c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-mai-4.10.0.tar.xz">kde-l10n-mai-4.10.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c87a7be98fd9dfd175c09b535d6e0006384649e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-mk-4.10.0.tar.xz">kde-l10n-mk-4.10.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>584b2832e4c935fea2fa39b55489d102cae788cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ml-4.10.0.tar.xz">kde-l10n-ml-4.10.0</a></td>
   <td align="right">18MB</td>
   <td><tt>aa04729454e13572f8f5aad50e1d3fa278a96734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-mr-4.10.0.tar.xz">kde-l10n-mr-4.10.0</a></td>
   <td align="right">501kB</td>
   <td><tt>c81b67e2a066f30e06881f5d2e79e9ffbba350df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ms-4.10.0.tar.xz">kde-l10n-ms-4.10.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>19f9260c0cd508117dcb36e95caf5fb57f411f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-mt-4.10.0.tar.xz">kde-l10n-mt-4.10.0</a></td>
   <td align="right">0kB</td>
   <td><tt>28e1884db93bbe5dbaf7d72654f0035393596769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-nb-4.10.0.tar.xz">kde-l10n-nb-4.10.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>408c3c97d84fb35382f97fa4e9fc6bbcd646ae75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-nds-4.10.0.tar.xz">kde-l10n-nds-4.10.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>245585c07f926049a59cd71284b5cf29dcc5abb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ne-4.10.0.tar.xz">kde-l10n-ne-4.10.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ea114ecc0ee510356a8710dcc4c8f03e313f4dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-nl-4.10.0.tar.xz">kde-l10n-nl-4.10.0</a></td>
   <td align="right">15MB</td>
   <td><tt>d8693a90ff78354e4ba1090ff3ffa4dda63e0dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-nn-4.10.0.tar.xz">kde-l10n-nn-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ea48543c71f1f8410dc0e637e92e69da1a165de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-nso-4.10.0.tar.xz">kde-l10n-nso-4.10.0</a></td>
   <td align="right">0kB</td>
   <td><tt>10beb7d3419a95a57787810f5d2f7c9002cf87ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-oc-4.10.0.tar.xz">kde-l10n-oc-4.10.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d4d2f009ab94b4b4862ae12130a1abf316d035be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-or-4.10.0.tar.xz">kde-l10n-or-4.10.0</a></td>
   <td align="right">282kB</td>
   <td><tt>72aa8338b461ded9304e721d22383e82b976a5c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-pa-4.10.0.tar.xz">kde-l10n-pa-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f16ece554da0779cd5678b9ebc380e749fe564fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-pl-4.10.0.tar.xz">kde-l10n-pl-4.10.0</a></td>
   <td align="right">16MB</td>
   <td><tt>61c331664ec4541161dd169eba285ad339879a16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ps-4.10.0.tar.xz">kde-l10n-ps-4.10.0</a></td>
   <td align="right">83kB</td>
   <td><tt>dbf98a0371e9eef68adf0b7ee8484fbde236a168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-pt-4.10.0.tar.xz">kde-l10n-pt-4.10.0</a></td>
   <td align="right">5.4MB</td>
   <td><tt>79a28a660fc327278c78609466745afc441c4757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-pt_BR-4.10.0.tar.xz">kde-l10n-pt_BR-4.10.0</a></td>
   <td align="right">26MB</td>
   <td><tt>aeee554826022fbaa2fd7745d9cf36115156175c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ro-4.10.0.tar.xz">kde-l10n-ro-4.10.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>6e2a4d0191a74776f3787d37beab2fdc34fae8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ru-4.10.0.tar.xz">kde-l10n-ru-4.10.0</a></td>
   <td align="right">22MB</td>
   <td><tt>d5c1ecaaa918117c503194735b80dc42981e297f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-rw-4.10.0.tar.xz">kde-l10n-rw-4.10.0</a></td>
   <td align="right">0kB</td>
   <td><tt>5e0e5bb8b2674164c86a65a9e30c5d77bba5c366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-se-4.10.0.tar.xz">kde-l10n-se-4.10.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>903399e05c8b45f1840260e16d8ab7894ee60a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-si-4.10.0.tar.xz">kde-l10n-si-4.10.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b9039c2e95871fc4939475c121905576bd9c0941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sk-4.10.0.tar.xz">kde-l10n-sk-4.10.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>65d79f7c983e8c58b889bfaa16f16ebcd4847317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sl-4.10.0.tar.xz">kde-l10n-sl-4.10.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>f04ef2e18a541a7dd3aaaf8a18f5d07c72d65230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sq-4.10.0.tar.xz">kde-l10n-sq-4.10.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>eb7b6e7d2cd76bb977f5727ebb592cf3317c845e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sr-4.10.0.tar.xz">kde-l10n-sr-4.10.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>2b34d166dafb5364f6f407e15a95faec441a5972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sr@ijekavian-4.10.0.tar.xz">kde-l10n-sr@ijekavian-4.10.0</a></td>
   <td align="right">0kB</td>
   <td><tt>fdbbf48cff58b8b8d347471d1b3bc71227514a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sr@ijekavianlatin-4.10.0.tar.xz">kde-l10n-sr@ijekavianlatin-4.10.0</a></td>
   <td align="right">0kB</td>
   <td><tt>fdbbf48cff58b8b8d347471d1b3bc71227514a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sr@latin-4.10.0.tar.xz">kde-l10n-sr@latin-4.10.0</a></td>
   <td align="right">0kB</td>
   <td><tt>fdbbf48cff58b8b8d347471d1b3bc71227514a17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-sv-4.10.0.tar.xz">kde-l10n-sv-4.10.0</a></td>
   <td align="right">15MB</td>
   <td><tt>dc01f64772a5a3f54fda6f4a8b6f23cc5d04bde1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ta-4.10.0.tar.xz">kde-l10n-ta-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e5650095fb7baf056fca7c3bba56ddfd76682bf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-te-4.10.0.tar.xz">kde-l10n-te-4.10.0</a></td>
   <td align="right">438kB</td>
   <td><tt>e56da432644b9f23112f801989a09cb91135536f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-tg-4.10.0.tar.xz">kde-l10n-tg-4.10.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e7b30110a6daf3f459174c830477592997664868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-th-4.10.0.tar.xz">kde-l10n-th-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9ed4ee1c6d29be63fdcd869093f58e46357de52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-tr-4.10.0.tar.xz">kde-l10n-tr-4.10.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>e302b55898c7f18a6a1c518317d8409f9769fe04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-tt-4.10.0.tar.xz">kde-l10n-tt-4.10.0</a></td>
   <td align="right">78kB</td>
   <td><tt>733935b9fa8717e87d54f7c15a620b270c44ffce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-ug-4.10.0.tar.xz">kde-l10n-ug-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b6ffda57b463332516195bfde5de8d4ab49cd2ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-uk-4.10.0.tar.xz">kde-l10n-uk-4.10.0</a></td>
   <td align="right">25MB</td>
   <td><tt>21162fde6afa9d32d2342f561a4a338b5574dd1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-uz-4.10.0.tar.xz">kde-l10n-uz-4.10.0</a></td>
   <td align="right">785kB</td>
   <td><tt>ee89e60ae7b344760c6debf45c0f8660a4f7562f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-uz@cyrillic-4.10.0.tar.xz">kde-l10n-uz@cyrillic-4.10.0</a></td>
   <td align="right">801kB</td>
   <td><tt>f479e1915bbad91f753e1df9ee8a0ea07219c438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-vi-4.10.0.tar.xz">kde-l10n-vi-4.10.0</a></td>
   <td align="right">909kB</td>
   <td><tt>0ffbd707bfe0780ade71332925a4f55c15c71985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-wa-4.10.0.tar.xz">kde-l10n-wa-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>e6ec8b8c256b8a93751ea64201736d17257924c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-xh-4.10.0.tar.xz">kde-l10n-xh-4.10.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2af53dc6edbd4e485002d650e26a8e871120a6f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-x-test-4.10.0.tar.xz">kde-l10n-x-test-4.10.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>253cd92d12dfce9948c0f6d196c1b3488cc6aa8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-zh_CN-4.10.0.tar.xz">kde-l10n-zh_CN-4.10.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>d0fadfcd52cdc10dbd5fd37d0d223d0f2f5c516e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-zh_HK-4.10.0.tar.xz">kde-l10n-zh_HK-4.10.0</a></td>
   <td align="right">374kB</td>
   <td><tt>7f2d2ecbe550917004ce621b24066df25f86f979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.0/src/kde-l10n/kde-l10n-zh_TW-4.10.0.tar.xz">kde-l10n-zh_TW-4.10.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f57878ae259f126f6e9995c56e1a6e0c839fff6e</tt></td>
</tr>

</table>
