
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/attica-5.37.0.tar.xz">attica-5.37.0</a></td>
   <td align="right">59kB</td>
   <td><tt>24dfd6decd5c87f44b51e519622b237c366eddcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/baloo-5.37.0.tar.xz">baloo-5.37.0</a></td>
   <td align="right">193kB</td>
   <td><tt>f24e861dd921f06bbe691f9b419269c9c07848c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/bluez-qt-5.37.0.tar.xz">bluez-qt-5.37.0</a></td>
   <td align="right">73kB</td>
   <td><tt>e62bdac2098ac20b1628104e9066a03ef18f3776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/breeze-icons-5.37.0.tar.xz">breeze-icons-5.37.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>e8158d50686a7fe5350c8f7e4ca1063d7d478389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/extra-cmake-modules-5.37.0.tar.xz">extra-cmake-modules-5.37.0</a></td>
   <td align="right">304kB</td>
   <td><tt>65257b03176740499947dc43ab8f9c32790293d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/frameworkintegration-5.37.0.tar.xz">frameworkintegration-5.37.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>72f40e9fa34dce22c45ea484b615a7cc344ff698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kactivities-5.37.0.tar.xz">kactivities-5.37.0</a></td>
   <td align="right">59kB</td>
   <td><tt>2caab4c5b8645280b9d2a46236af7fcf6e5b00bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kactivities-stats-5.37.0.tar.xz">kactivities-stats-5.37.0</a></td>
   <td align="right">59kB</td>
   <td><tt>5ce37e3209f64781b4a330731ad31dcfe87e848d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kapidox-5.37.0.tar.xz">kapidox-5.37.0</a></td>
   <td align="right">386kB</td>
   <td><tt>6ff02f5bc91a5c2e5ab57e50c63bb861cc3e5779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/karchive-5.37.0.tar.xz">karchive-5.37.0</a></td>
   <td align="right">110kB</td>
   <td><tt>f91c023bf7d6476211d017e40272f95d0de11457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kauth-5.37.0.tar.xz">kauth-5.37.0</a></td>
   <td align="right">82kB</td>
   <td><tt>ea73589605a94bfdcb41bce1de2a379a92c57b15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kbookmarks-5.37.0.tar.xz">kbookmarks-5.37.0</a></td>
   <td align="right">114kB</td>
   <td><tt>db15b85994657d4b21e234839311422635bc36e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kcmutils-5.37.0.tar.xz">kcmutils-5.37.0</a></td>
   <td align="right">229kB</td>
   <td><tt>d248984f61d888828563405a05d527357c83e6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kcodecs-5.37.0.tar.xz">kcodecs-5.37.0</a></td>
   <td align="right">213kB</td>
   <td><tt>541a1859ff2a58264d30dabc2bb0c8d82ec80adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kcompletion-5.37.0.tar.xz">kcompletion-5.37.0</a></td>
   <td align="right">115kB</td>
   <td><tt>42cb6f05b12fa92b27a079b28c4f7128d5214a8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kconfig-5.37.0.tar.xz">kconfig-5.37.0</a></td>
   <td align="right">227kB</td>
   <td><tt>498313c254142b47bc2bc627d7ea2b80a824835c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kconfigwidgets-5.37.0.tar.xz">kconfigwidgets-5.37.0</a></td>
   <td align="right">366kB</td>
   <td><tt>a4f9b3f833301cd6ce9115b466763808489d4112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kcoreaddons-5.37.0.tar.xz">kcoreaddons-5.37.0</a></td>
   <td align="right">340kB</td>
   <td><tt>97af98f0b195cd14bbbe63505e7b014469e9dd4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kcrash-5.37.0.tar.xz">kcrash-5.37.0</a></td>
   <td align="right">21kB</td>
   <td><tt>c4ea3ef650abec2ad295d5778902be736df13461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdbusaddons-5.37.0.tar.xz">kdbusaddons-5.37.0</a></td>
   <td align="right">34kB</td>
   <td><tt>63880ec9ee4194720644a184bf2b9a0023b55d2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdeclarative-5.37.0.tar.xz">kdeclarative-5.37.0</a></td>
   <td align="right">165kB</td>
   <td><tt>6573382ef23f7889d782d59326b7181cdf5b368e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kded-5.37.0.tar.xz">kded-5.37.0</a></td>
   <td align="right">37kB</td>
   <td><tt>6ae49a6fe6cf120692a743a9714fdff0e69df879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdesignerplugin-5.37.0.tar.xz">kdesignerplugin-5.37.0</a></td>
   <td align="right">88kB</td>
   <td><tt>dca471ac5291c8879dc81597020cf155efca314b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdesu-5.37.0.tar.xz">kdesu-5.37.0</a></td>
   <td align="right">43kB</td>
   <td><tt>888091c8744ae9a684cb01dc7ff746a8222f9871</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdewebkit-5.37.0.tar.xz">kdewebkit-5.37.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f440d4af84d0cba60a3bf0ac51e33eb28d6eb997</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdnssd-5.37.0.tar.xz">kdnssd-5.37.0</a></td>
   <td align="right">55kB</td>
   <td><tt>e0e9101d9eef41c5189ef9224120b6e7b8d3b8ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kdoctools-5.37.0.tar.xz">kdoctools-5.37.0</a></td>
   <td align="right">407kB</td>
   <td><tt>a7ef8b008dac959f680c6366bec6d54443c94f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kemoticons-5.37.0.tar.xz">kemoticons-5.37.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fe6985e41123499bb4b74df8e6ff65e243058519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kfilemetadata-5.37.0.tar.xz">kfilemetadata-5.37.0</a></td>
   <td align="right">213kB</td>
   <td><tt>a5b056146122df02d2818cd4f282ac9f148f6008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kglobalaccel-5.37.0.tar.xz">kglobalaccel-5.37.0</a></td>
   <td align="right">81kB</td>
   <td><tt>ca516a6aa7dadb636056ddc0ff8739071e91214f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kguiaddons-5.37.0.tar.xz">kguiaddons-5.37.0</a></td>
   <td align="right">39kB</td>
   <td><tt>14b177f0c39296d7159c7e733926fe15ccbc17e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/ki18n-5.37.0.tar.xz">ki18n-5.37.0</a></td>
   <td align="right">572kB</td>
   <td><tt>bf7ad14ff926765aef40225b1964ce6f577ed5c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kiconthemes-5.37.0.tar.xz">kiconthemes-5.37.0</a></td>
   <td align="right">200kB</td>
   <td><tt>36d88bc2699fca5116a89d323e54b2cadc8c0522</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kidletime-5.37.0.tar.xz">kidletime-5.37.0</a></td>
   <td align="right">25kB</td>
   <td><tt>6ce7a47a9cf6b6bc5d866a86fd97405275731bc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kimageformats-5.37.0.tar.xz">kimageformats-5.37.0</a></td>
   <td align="right">199kB</td>
   <td><tt>2534f7be84644de70ca24c13b66e506ddff120a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kinit-5.37.0.tar.xz">kinit-5.37.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c9e08c3f18d762667249fc7120276418ebaeeab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kio-5.37.0.tar.xz">kio-5.37.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>15477d7ea3cfa715171022a5de359569d5b6d2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kirigami2-5.37.0.tar.xz">kirigami2-5.37.0</a></td>
   <td align="right">271kB</td>
   <td><tt>cd66deee03c24905fa3ccc6599416eb567f0c0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kirigami-5.37.0.tar.xz">kirigami-5.37.0</a></td>
   <td align="right">271kB</td>
   <td><tt>4aa4e8edc94a05015a28f5da0714da0a54829fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kitemmodels-5.37.0.tar.xz">kitemmodels-5.37.0</a></td>
   <td align="right">380kB</td>
   <td><tt>5d92677829c8aaebb5b4726628aac7d7128f7257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kitemviews-5.37.0.tar.xz">kitemviews-5.37.0</a></td>
   <td align="right">73kB</td>
   <td><tt>42ecab8910ad985b8d90cb1ed9c497caac575675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kjobwidgets-5.37.0.tar.xz">kjobwidgets-5.37.0</a></td>
   <td align="right">87kB</td>
   <td><tt>d108f8da02159a2da79d13832cae018917fb3f33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/knewstuff-5.37.0.tar.xz">knewstuff-5.37.0</a></td>
   <td align="right">870kB</td>
   <td><tt>2bc9320f9156b4bd4703d0278a9d5006de54391a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/knotifications-5.37.0.tar.xz">knotifications-5.37.0</a></td>
   <td align="right">97kB</td>
   <td><tt>b75020ff31e0ccedaf359a36960db7c4836188d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/knotifyconfig-5.37.0.tar.xz">knotifyconfig-5.37.0</a></td>
   <td align="right">81kB</td>
   <td><tt>459fc3e40a353b8a8baa5eb1ef6bf4a7d797fb61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kpackage-5.37.0.tar.xz">kpackage-5.37.0</a></td>
   <td align="right">119kB</td>
   <td><tt>bcfbf8d61eb20c1a5c09a1ed02c48227fcf73292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kparts-5.37.0.tar.xz">kparts-5.37.0</a></td>
   <td align="right">171kB</td>
   <td><tt>f69cc88759da934c316921d821d84c1b139696f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kpeople-5.37.0.tar.xz">kpeople-5.37.0</a></td>
   <td align="right">57kB</td>
   <td><tt>401c6a4770c5092378ead3686b38a4b117ebd4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kplotting-5.37.0.tar.xz">kplotting-5.37.0</a></td>
   <td align="right">28kB</td>
   <td><tt>82274646e7baf1a7b3444e0232c15dbc55e2ef2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kpty-5.37.0.tar.xz">kpty-5.37.0</a></td>
   <td align="right">56kB</td>
   <td><tt>19efafcb7e7fd46fc80d6739c2f5d8dac1a35b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/krunner-5.37.0.tar.xz">krunner-5.37.0</a></td>
   <td align="right">66kB</td>
   <td><tt>1aa96147a202effbca7bc0c5da58d8eb86c5a2da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kservice-5.37.0.tar.xz">kservice-5.37.0</a></td>
   <td align="right">243kB</td>
   <td><tt>f98a12ca23711e69136c1e3b8a0a9c3825c93c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/ktexteditor-5.37.0.tar.xz">ktexteditor-5.37.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>374c60e6740df7def33670327c5996cb5151e34c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/ktextwidgets-5.37.0.tar.xz">ktextwidgets-5.37.0</a></td>
   <td align="right">301kB</td>
   <td><tt>ed15f33bbc5e9e1f0ab263a78a63dc56d7f581d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kunitconversion-5.37.0.tar.xz">kunitconversion-5.37.0</a></td>
   <td align="right">752kB</td>
   <td><tt>5597b44cc01d3ef9f581b2fe6d147c875a94fe7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kwallet-5.37.0.tar.xz">kwallet-5.37.0</a></td>
   <td align="right">296kB</td>
   <td><tt>1fffef79903e3cca73e7954be4d7252b275f0e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kwayland-5.37.0.tar.xz">kwayland-5.37.0</a></td>
   <td align="right">256kB</td>
   <td><tt>0f3e57408a2190799513003355aab4410bfd4888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kwidgetsaddons-5.37.0.tar.xz">kwidgetsaddons-5.37.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>70dce31b0b64f3ead296bf220555209ea6ac7838</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kwindowsystem-5.37.0.tar.xz">kwindowsystem-5.37.0</a></td>
   <td align="right">164kB</td>
   <td><tt>d19c1fd3fd1a261d25c9c1eec8c7a65e84bb1124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kxmlgui-5.37.0.tar.xz">kxmlgui-5.37.0</a></td>
   <td align="right">863kB</td>
   <td><tt>f519ec8859e8f155290a1cde8c66fbc3575af2cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/kxmlrpcclient-5.37.0.tar.xz">kxmlrpcclient-5.37.0</a></td>
   <td align="right">28kB</td>
   <td><tt>88524b47a0e573049f5f821e39e4f58840900382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/modemmanager-qt-5.37.0.tar.xz">modemmanager-qt-5.37.0</a></td>
   <td align="right">96kB</td>
   <td><tt>040bcd59d42eb7e1845a4d44cab1656c628151c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/networkmanager-qt-5.37.0.tar.xz">networkmanager-qt-5.37.0</a></td>
   <td align="right">159kB</td>
   <td><tt>f9536a139ae307c1f4372e73fe3d501da36dd197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/oxygen-icons5-5.37.0.tar.xz">oxygen-icons5-5.37.0</a></td>
   <td align="right">223MB</td>
   <td><tt>dc98bfee533bed89e5721570563f09e6b9fa44e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/plasma-framework-5.37.0.tar.xz">plasma-framework-5.37.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b34ea1c98cf2e24167ea06de7d3bc9cd1a4c349e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/prison-5.37.0.tar.xz">prison-5.37.0</a></td>
   <td align="right">13kB</td>
   <td><tt>1c76135fb236bc0602ed8fa9ad97b078f966258e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/solid-5.37.0.tar.xz">solid-5.37.0</a></td>
   <td align="right">242kB</td>
   <td><tt>25ae2fbddd5bbca62d7ef217cd57f037655771e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/sonnet-5.37.0.tar.xz">sonnet-5.37.0</a></td>
   <td align="right">278kB</td>
   <td><tt>47cf56fe9fb536e1f80295c3803d93ade57afa56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/syntax-highlighting-5.37.0.tar.xz">syntax-highlighting-5.37.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>31ccb1b36518ddf11e069ceb53a4c3a0216d20c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.37/threadweaver-5.37.0.tar.xz">threadweaver-5.37.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>740d0a3decb6b048607ae5f5303050187e7eaf04</tt></td>
</tr>

</table>
